{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/csmrg2118?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West Europe"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/csmrg2118",
        "name": "csmrg2118",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westeurope",
        "tags": {
          "StorageType": "Standard_LRS",
          "type": "test"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/csmrg2118/providers/Microsoft.Resources/deployments/csmd7015?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "templateLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/201-web-app-github-deploy/azuredeploy.json"
          },
          "parameters": {
            "repoURL": {
              "value": "https://github.com/devigned/az-roadshow-oss.git"
            },
            "siteName": {
              "value": "csmr8615"
            },
            "location": {
              "value": "westus"
            },
            "sku": {
              "value": "F1"
            }
          },
          "mode": "Incremental"
        },
        "tags": {
          "tagKey1": "tagValue1"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/csmrg2118/providers/Microsoft.Resources/deployments/csmd7015/operationStatuses/08586112198693281258?api-version=2019-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/csmrg2118/providers/Microsoft.Resources/deployments/csmd7015",
        "name": "csmd7015",
        "type": "Microsoft.Resources/deployments",
        "tags": {
          "tagKey1": "tagValue1"
        },
        "properties": {
          "templateLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/201-web-app-github-deploy/azuredeploy.json",
            "contentVersion": "1.0.0.1"
          },
          "templateHash": "12192946132745292451",
          "parameters": {
            "siteName": {
              "type": "String",
              "value": "csmr8615"
            },
            "location": {
              "type": "String",
              "value": "westus"
            },
            "sku": {
              "type": "String",
              "value": "F1"
            },
            "workerSize": {
              "type": "String",
              "value": "0"
            },
            "repoURL": {
              "type": "String",
              "value": "https://github.com/devigned/az-roadshow-oss.git"
            },
            "branch": {
              "type": "String",
              "value": "master"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Accepted",
          "timestamp": "2020-05-25T06:10:19.560862Z",
          "duration": "PT3.411357S",
          "correlationId": "55f66ea3-e839-47af-bffa-8588c8a66501",
          "providers": [
            {
              "namespace": "Microsoft.Web",
              "resourceTypes": [
                {
                  "resourceType": "serverfarms",
                  "locations": [
                    "westus"
                  ]
                },
                {
                  "resourceType": "sites",
                  "locations": [
                    "westus"
                  ]
                },
                {
                  "resourceType": "sites/sourcecontrols",
                  "locations": [
                    "westus"
                  ]
                }
              ]
            }
          ],
          "dependencies": [
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/csmrg2118/providers/Microsoft.Web/serverfarms/hpn-csmrg2118",
                  "resourceType": "Microsoft.Web/serverfarms",
                  "resourceName": "hpn-csmrg2118"
                }
              ],
              "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/csmrg2118/providers/Microsoft.Web/sites/csmr8615",
              "resourceType": "Microsoft.Web/sites",
              "resourceName": "csmr8615"
            },
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/csmrg2118/providers/Microsoft.Web/sites/csmr8615",
                  "resourceType": "Microsoft.Web/sites",
                  "resourceName": "csmr8615"
                }
              ],
              "id": "/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/csmrg2118/providers/Microsoft.Web/sites/csmr8615/sourcecontrols/web",
              "resourceType": "Microsoft.Web/sites/sourcecontrols",
              "resourceName": "csmr8615/web"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/csmrg2118/providers/Microsoft.Resources/deployments/csmd7015/operationStatuses/08586112198693281258?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "status": "Running"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourcegroups/csmrg2118/providers/Microsoft.Resources/deployments/?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "1198[...]
[...]
