{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourcegroups/csmrg8303?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West Europe"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/csmrg8303",
        "name": "csmrg8303",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westeurope",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourcegroups/csmrg8303/providers/Microsoft.Resources/deployments/csmd8203?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "templateLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/201-web-app-github-deploy/azuredeploy.json"
          },
          "parameters": {
            "repoURL": {
              "value": "https://github.com/devigned/az-roadshow-oss.git"
            },
            "siteName": {
              "value": "csmr4927"
            },
            "location": {
              "value": "westus"
            },
            "sku": {
              "value": "F1"
            }
          },
          "mode": "Incremental"
        },
        "tags": {
          "tagKey1": "tagValue1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourcegroups/csmrg8303/providers/Microsoft.Resources/deployments/csmd8203/operationStatuses/08586108709457253722?api-version=2019-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/csmrg8303/providers/Microsoft.Resources/deployments/csmd8203",
        "name": "csmd8203",
        "type": "Microsoft.Resources/deployments",
        "tags": {
          "tagKey1": "tagValue1"
        },
        "properties": {
          "templateLink": {
            "uri": "https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/201-web-app-github-deploy/azuredeploy.json",
            "contentVersion": "1.0.0.1"
          },
          "templateHash": "12192946132745292451",
          "parameters": {
            "siteName": {
              "type": "String",
              "value": "csmr4927"
            },
            "location": {
              "type": "String",
              "value": "westus"
            },
            "sku": {
              "type": "String",
              "value": "F1"
            },
            "workerSize": {
              "type": "String",
              "value": "0"
            },
            "repoURL": {
              "type": "String",
              "value": "https://github.com/devigned/az-roadshow-oss.git"
            },
            "branch": {
              "type": "String",
              "value": "master"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Accepted",
          "timestamp": "2020-05-29T07:05:43.2097363Z",
          "duration": "PT3.4574844S",
          "correlationId": "edd65578-02da-4453-be96-a88fa1752f75",
          "providers": [
            {
              "namespace": "Microsoft.Web",
              "resourceTypes": [
                {
                  "resourceType": "serverfarms",
                  "locations": [
                    "westus"
                  ]
                },
                {
                  "resourceType": "sites",
                  "locations": [
                    "westus"
                  ]
                },
                {
                  "resourceType": "sites/sourcecontrols",
                  "locations": [
                    "westus"
                  ]
                }
              ]
            }
          ],
          "dependencies": [
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/csmrg8303/providers/Microsoft.Web/serverfarms/hpn-csmrg8303",
                  "resourceType": "Microsoft.Web/serverfarms",
                  "resourceName": "hpn-csmrg8303"
                }
              ],
              "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/csmrg8303/providers/Microsoft.Web/sites/csmr4927",
              "resourceType": "Microsoft.Web/sites",
              "resourceName": "csmr4927"
            },
            {
              "dependsOn": [
                {
                  "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/csmrg8303/providers/Microsoft.Web/sites/csmr4927",
                  "resourceType": "Microsoft.Web/sites",
                  "resourceName": "csmr4927"
                }
              ],
              "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/csmrg8303/providers/Microsoft.Web/sites/csmr4927/sourcecontrols/web",
              "resourceType": "Microsoft.Web/sites/sourcecontrols",
              "resourceName": "csmr4927/web"
            }
          ]
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourcegroups/csmrg8303/providers/Microsoft.Resources/deployments/csmd8203/operationStatuses/08586108709457253722?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourcegroups/csmrg8303/providers/Microsoft.Resources/deployments/?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "1194[...]
[...]
