{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourcegroups/csmrg2135?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "West Europe"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/csmrg2135",
        "name": "csmrg2135",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westeurope",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourcegroups/csmrg2135/providers/Microsoft.Resources/deployments/csmd7921/validate?api-version=2019-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "templateLink": {
            "uri": "https://testtemplates.blob.core.windows.net/templates/bad-website-1.js"
          },
          "parameters": {
            "siteName": {
              "value": "mctest0101"
            },
            "hostingPlanName": {
              "value": "mctest0101"
            },
            "siteMode": {
              "value": "Limited"
            },
            "computeMode": {
              "value": "Shared"
            },
            "siteLocation": {
              "value": "North Europe"
            },
            "sku": {
              "value": "Free"
            },
            "workerSize": {
              "value": "0"
            }
          },
          "mode": "Incremental"
        }
      },
      "StatusCode": 400,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": "{\u0022error\u0022:{\u0022code\u0022:\u0022InvalidTemplate\u0022,\u0022message\u0022:\u0022Deployment template validation failed: \u0027The template parameters \u0027hostingPlanName, siteMode, computeMode, siteLocation, sku, workerSize\u0027 in the parameters file are not valid; they are not present in the original template and can therefore not be provided at deployment time. The only supported parameters for this template are \u0027siteName\u0027. Please see https://aka.ms/arm-deploy/#parameter-file for usage details.\u0027.\u0022,\u0022additionalInfo\u0022:[{\u0022type\u0022:\u0022TemplateViolation\u0022,\u0022info\u0022:{\u0022lineNumber\u0022:0,\u0022linePosition\u0022:0,\u0022path\u0022:\u0022\u0022}}]}}"
    }
  ],
  "Variables": {
    "RandomSeed": "1651554073",
    "SUBSCRIPTION_ID": "b9f138a1-1d64-4108-8413-9ea3be1c1b2d"
  }
}