{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet2344?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet2344",
        "name": "azsmnet2344",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet2344/providers/Microsoft.Resources/deployments/azsmnet3503?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": {
            "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "resourceGroupName": {
                "type": "String"
              },
              "location": {
                "type": "String"
              },
              "virtualMachineName": {
                "type": "String"
              },
              "virtualMachineSize": {
                "type": "String"
              },
              "adminUsername": {
                "type": "String"
              },
              "storageAccountName": {
                "type": "String"
              },
              "virtualNetworkName": {
                "type": "String"
              },
              "routeTableName": {
                "type": "String"
              },
              "networkInterfaceName": {
                "type": "String"
              },
              "networkSecurityGroupName": {
                "type": "String"
              },
              "adminPassword": {
                "type": "SecureString"
              },
              "storageAccountType": {
                "type": "String"
              },
              "diagnosticsStorageAccountName": {
                "type": "String"
              },
              "diagnosticsStorageAccountId": {
                "type": "String"
              },
              "diagnosticsStorageAccountType": {
                "type": "String"
              },
              "addressPrefix": {
                "type": "String"
              },
              "subnetName": {
                "type": "String"
              },
              "subnetPrefix": {
                "type": "String"
              },
              "publicIpAddressName": {
                "type": "String"
              },
              "publicIpAddressType": {
                "type": "String"
              }
            },
            "variables": {
              "vnetId": "[resourceId(parameters(\u0027resourceGroupName\u0027),\u0027Microsoft.Network/virtualNetworks\u0027, parameters(\u0027virtualNetworkName\u0027))]",
              "subnetRef": "[concat(variables(\u0027vnetId\u0027), \u0027/subnets/\u0027, parameters(\u0027subnetName\u0027))]"
            },
            "resources": [
              {
                "type": "Microsoft.Compute/virtualMachines",
                "name": "[parameters(\u0027virtualMachineName\u0027)]",
                "apiVersion": "2015-06-15",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "osProfile": {
                    "computerName": "[parameters(\u0027virtualMachineName\u0027)]",
                    "adminUsername": "[parameters(\u0027adminUsername\u0027)]",
                    "adminPassword": "[parameters(\u0027adminPassword\u0027)]",
                    "windowsConfiguration": {
                      "provisionVmAgent": "true"
                    }
                  },
                  "hardwareProfile": {
                    "vmSize": "[parameters(\u0027virtualMachineSize\u0027)]"
                  },
                  "storageProfile": {
                    "imageReference": {
                      "publisher": "MicrosoftWindowsServer",
                      "offer": "WindowsServer",
                      "sku": "2016-Datacenter",
                      "version": "latest"
                    },
                    "osDisk": {
                      "name": "[parameters(\u0027virtualMachineName\u0027)]",
                      "createOption": "fromImage",
                      "vhd": {
                        "uri": "[concat(concat(reference(resourceId(parameters(\u0027resourceGroupName\u0027), \u0027Microsoft.Storage/storageAccounts\u0027, parameters(\u0027storageAccountName\u0027)), \u00272015-06-15\u0027).primaryEndpoints[\u0027blob\u0027], \u0027vhds/\u0027), parameters(\u0027virtualMachineName\u0027), \u002720161217141554.vhd\u0027)]"
                      }
                    },
                    "dataDisks": []
                  },
                  "networkProfile": {
                    "networkInterfaces": [
                      {
                        "id": "[resourceId(\u0027Microsoft.Network/networkInterfaces\u0027, parameters(\u0027networkInterfaceName\u0027))]"
                      }
                    ]
                  },
                  "diagnosticsProfile": {
                    "bootDiagnostics": {
                      "enabled": true,
                      "storageUri": "[reference(resourceId(parameters(\u0027resourceGroupName\u0027), \u0027Microsoft.Storage/storageAccounts\u0027, parameters(\u0027diagnosticsStorageAccountName\u0027)), \u00272015-06-15\u0027).primaryEndpoints[\u0027blob\u0027]]"
                    }
                  }
                },
                "dependsOn": [
                  "[concat(\u0027Microsoft.Network/networkInterfaces/\u0027, parameters(\u0027networkInterfaceName\u0027))]",
                  "[concat(\u0027Microsoft.Storage/storageAccounts/\u0027, parameters(\u0027storageAccountName\u0027))]",
                  "[concat(\u0027Microsoft.Storage/storageAccounts/\u0027, parameters(\u0027diagnosticsStorageAccountName\u0027))]"
                ]
              },
              {
                "type": "Microsoft.Storage/storageAccounts",
                "name": "[parameters(\u0027storageAccountName\u0027)]",
                "apiVersion": "2015-06-15",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "accountType": "[parameters(\u0027storageAccountType\u0027)]"
                }
              },
              {
                "type": "Microsoft.Storage/storageAccounts",
                "name": "[parameters(\u0027diagnosticsStorageAccountName\u0027)]",
                "apiVersion": "2015-06-15",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "accountType": "[parameters(\u0027diagnosticsStorageAccountType\u0027)]"
                }
              },
              {
                "type": "Microsoft.Network/routeTables",
                "name": "[parameters(\u0027routeTableName\u0027)]",
                "apiVersion": "2016-09-01",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "routes": [
                    {
                      "name": "route1",
                      "properties": {
                        "addressPrefix": "10.1.3.0/24",
                        "nextHopType": "VirtualAppliance",
                        "nextHopIpAddress": "10.0.1.2"
                      }
                    }
                  ]
                }
              },
              {
                "type": "Microsoft.Network/virtualNetworks",
                "name": "[parameters(\u0027virtualNetworkName\u0027)]",
                "apiVersion": "2016-09-01",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "addressSpace": {
                    "addressPrefixes": [
                      "[parameters(\u0027addressPrefix\u0027)]"
                    ]
                  },
                  "subnets": [
                    {
                      "name": "[parameters(\u0027subnetName\u0027)]",
                      "properties": {
                        "addressPrefix": "[parameters(\u0027subnetPrefix\u0027)]",
                        "routeTable": {
                          "id": "[resourceId(\u0027Microsoft.Network/routeTables\u0027, parameters(\u0027routeTableName\u0027))]"
                        }
                      }
                    }
                  ]
                },
                "dependsOn": [
                  "[concat(\u0027Microsoft.Network/routeTables/\u0027, parameters(\u0027routeTableName\u0027))]"
                ]
              },
              {
                "type": "Microsoft.Network/networkInterfaces",
                "name": "[parameters(\u0027networkInterfaceName\u0027)]",
                "apiVersion": "2016-09-01",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "ipConfigurations": [
                    {
                      "name": "ipconfig1",
                      "properties": {
                        "subnet": {
                          "id": "[variables(\u0027subnetRef\u0027)]"
                        },
                        "privateIPAllocationMethod": "Dynamic",
                        "publicIpAddress": {
                          "id": "[resourceId(parameters(\u0027resourceGroupName\u0027),\u0027Microsoft.Network/publicIpAddresses\u0027, parameters(\u0027publicIpAddressName\u0027))]"
                        }
                      }
                    }
                  ],
                  "networkSecurityGroup": {
                    "id": "[resourceId(parameters(\u0027resourceGroupName\u0027), \u0027Microsoft.Network/networkSecurityGroups\u0027, parameters(\u0027networkSecurityGroupName\u0027))]"
                  }
                },
                "dependsOn": [
                  "[concat(\u0027Microsoft.Network/virtualNetworks/\u0027, parameters(\u0027virtualNetworkName\u0027))]",
                  "[concat(\u0027Microsoft.Network/publicIpAddresses/\u0027, parameters(\u0027publicIpAddressName\u0027))]",
                  "[concat(\u0027Microsoft.Network/networkSecurityGroups/\u0027, parameters(\u0027networkSecurityGroupName\u0027))]"
                ]
              },
              {
                "type": "Microsoft.Network/publicIpAddresses",
                "name": "[parameters(\u0027publicIpAddressName\u0027)]",
                "apiVersion": "2016-09-01",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "publicIpAllocationMethod": "[parameters(\u0027publicIpAddressType\u0027)]"
                }
              },
              {
                "type": "Microsoft.Network/networkSecurityGroups",
                "name": "[parameters(\u0027networkSecurityGroupName\u0027)]",
                "apiVersion": "2016-09-01",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "securityRules": [
                    {
                      "name": "default-allow-rdp",
                      "properties": {
                        "priority": 1000,
                        "sourceAddressPrefix": "*",
                        "protocol": "TCP",
                        "destinationPortRange": "3389",
                        "access": "Allow",
                        "direction": "Inbound",
                        "sourcePortRange": "*",
                        "destinationAddressPrefix": "*"
                      }
                    }
                  ]
                }
              }
            ],
            "outputs": {
              "adminUsername": {
                "type": "String",
                "value": "[parameters(\u0027adminUsername\u0027)]"
              }
            }
          },
          "parameters": {
            "resourceGroupName": {
              "value": "azsmnet2344"
            },
            "location": {
              "value": "westus2"
            },
            "virtualMachineName": {
              "value": "azsmnet5615"
            },
            "virtualMachineSize": {
              "value": "Standard_DS1_v2"
            },
            "adminUsername": {
              "v[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet2344/providers/Microsoft.Resources/deployments/azsmnet3503/operationStatuses/08586103619165068420?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "10401"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet2344/providers/Microsoft.Resources/deployments/azsmnet3503?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "10269"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet2344/providers/Microsoft.Resources/deployments/azsmnet3503",
        "name": "azsmnet3503",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "8977858299135338221",
          "parameters": {
            "resourceGroupName": {
              "type": "String",
              "value": "azsmnet2344"
            },
            "location": {
              "type": "String",
              "value": "westus2"
            },
            "virtualMachineName": {
              "type": "String",
              "value": "azsmnet5615"
            },
            "virtualMachineSize": {
              "type": "String",
              "value": "Standard_DS1_[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet2344/providers/Microsoft.Compute/virtualMachines/azsmnet5615?$expand=instanceView\u0026api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/LowCostGet3Min;3994,Microsoft.Compute/LowCostGet30Min;31986",
        "x-ms-ratelimit-remaining-subscription-reads": "10268"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022azsmnet5615\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet2344/providers/Microsoft.Compute/virtualMachines/azsmnet5615\u0022,\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Compute/virtualMach[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet2344/providers/Microsoft.Compute/virtualMachines/azsmnet5615/extensions/NetworkWatcherAgent?api-version=2019-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "publisher": "Microsoft.Azure.NetworkWatcher",
          "type": "NetworkWatcherAgentWindows",
          "typeHandlerVersion": "1.4"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/westus2/operations/962f3873-fcba-4126-865b-2a4364a41da5?api-version=2019-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/UpdateVM3Min;239,Microsoft.Compute/UpdateVM30Min;1199",
        "x-ms-ratelimit-remaining-subscription-writes": "1195"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022NetworkWatcherAgent\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet2344/providers/Microsoft.Compute/virtualMachines/azsmnet5615/extensions/NetworkWatcherAgent\u0022,\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Compute/virtualMachines/extensions\u0022,\r\n",
        "  \u0022location\u0022: \u0022westus2\u0022,\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022autoUpgradeMinorVersion\u0022: false,\r\n",
        "    \u0022provisioningState\u0022: \u0022Creating\u0022,\r\n",
        "    \u0022publisher\u0022: \u0022Microsoft.Azure.NetworkWatcher\u0022,\r\n",
        "    \u0022type\u0022: \u0022NetworkWatcherAgentWindows\u0022,\r\n",
        "    \u0022typeHandlerVersion\u0022: \u00221.4\u0022\r\n",
        "  }\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/westus2/operations/962f3873-fcba-4126-865b-2a4364a41da5?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14997,Microsoft.Compute/GetOperation30Min;29991",
        "x-ms-ratelimit-remaining-subscription-reads": "10267"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022startTime\u0022: \u00222020-06-04T04:32:35.917926\u002B00:00\u0022,\r\n",
        "  \u0022status\u0022: \u0022InProgress\u0022,\r\n",
        "  \u0022name\u0022: \u0022962f3873-fcba-4126-865b-2a4364a41da5\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_westus2/packetCaptures/pc1?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "target": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet2344/providers/Microsoft.Compute/virtualMachines/azsmnet5615",
          "storageLocation": {
            "filePath": "C:\\tmp\\Capture.cap"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operations/807809b0-f85c-4f39-84f3-184fb0bec378?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1194"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022pc1\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_westus2/packetCaptures/pc1\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u002200ef22e4-3888-47d7-81f5-d72e2b212e20\\\u0022\u0022,\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022provisioningState\u0022: \u0022Updating\u0022,\r\n",
        "    \u0022target\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet2344/providers/Microsoft.Compute/virtualMachines/azsmnet5615\u0022,\r\n",
        "    \u0022bytesToCapturePerPacket\u0022: 0,\r\n",
        "    \u0022totalBytesPerSession\u0022: 1073741824,\r\n",
        "    \u0022timeLimitInSeconds\u0022: 18000,\r\n",
        "    \u0022storageLocation\u0022: {\r\n",
        "      \u0022storagePath\u0022: \u0022\u0022,\r\n",
        "      \u0022filePath\u0022: \u0022C:\\\\tmp\\\\Capture.cap\u0022\r\n",
        "    },\r\n",
        "    \u0022filters\u0022: []\r\n",
        "  },\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Network/networkWatchers/packetCaptures\u0022\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operations/807809b0-f85c-4f39-84f3-184fb0bec378?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "10161"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022status\u0022: \u0022InProgress\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_westus2/packetCaptures/pc1?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022d70a5ed5-af1e-4789-9117-d65d7eec5ce3\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "10156"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022pc1\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_westus2/packetCaptures/pc1\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u0022d70a5ed5-af1e-4789-9117-d65d7eec5ce3\\\u0022\u0022,\r\n",
        "  \u0022properties\u0022: {\r\n",
        "    \u0022provisioningState\u0022: \u0022Succeeded\u0022,\r\n",
        "    \u0022target\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet2344/providers/Microsoft.Compute/virtualMachines/azsmnet5615\u0022,\r\n",
        "    \u0022bytesToCapturePerPacket\u0022: 0,\r\n",
        "    \u0022totalBytesPerSession\u0022: 1073741824,\r\n",
        "    \u0022timeLimitInSeconds\u0022: 18000,\r\n",
        "    \u0022storageLocation\u0022: {\r\n",
        "      \u0022storagePath\u0022: \u0022\u0022,\r\n",
        "      \u0022filePath\u0022: \u0022C:\\\\tmp\\\\Capture.cap\u0022\r\n",
        "    },\r\n",
        "    \u0022filters\u0022: []\r\n",
        "  },\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Network/networkWatchers/packetCaptures\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_westus2/packetCaptures/pc1/queryStatus?api-version=2020-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/649c86a1-81e9-47d2-887f-5a4c489d6e06?api-version=2020-04-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "10154"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022pc1\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_westus2/packetCaptures/pc1\u0022,\r\n",
        "  \u0022captureStartTime\u0022: \u00222020-06-04T04:34:48.4189582Z\u0022,\r\n",
        "  \u0022packetCaptureStatus\u0022: \u0022Running\u0022,\r\n",
        "  \u0022packetCaptureError\u0022: []\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/649c86a1-81e9-47d2-887f-5a4c489d6e06?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operations/649c86a1-81e9-47d2-887f-5a4c489d6e06?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/649c86a1-81e9-47d2-887f-5a4c489d6e06?api-version=2020-04-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "10153"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_westus2/packetCaptures?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_westus2/packetCaptures/pc1/stop?api-version=2020-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operations/1521a7ea-4583-413d-8c93-7cf246209e22?api-version=2020-04-01",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/1521a7ea-4583-413d-8c93-7cf246209e22?api-version=2020-04-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BWlNNTkVUMjM0NC1XRVNUVVMyIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMyIn0?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BWlNNTkVUMjM0NC1XRVNUVVMyIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMyIn0?api-version=2019-10-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "10138"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BWlNNTkVUMjM0NC1XRVNUVVMyIiwiam9iTG9jYXRpb24