{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/crptestar1601?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "tags": {
          "crptestar1601": "2020-06-10 14:05:08Z"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1601",
        "name": "crptestar1601",
        "location": "eastus2",
        "tags": {
          "crptestar1601": "2020-06-10 14:05:08Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1601/providers/Microsoft.Storage/storageAccounts/crptestar1813?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_GRS"
        },
        "kind": "Storage",
        "location": "eastus2",
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/eastus2/asyncoperations/256e3a19-2429-46e8-bc30-effbfb3c2523?monitor=true\u0026api-version=2019-06-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/eastus2/asyncoperations/256e3a19-2429-46e8-bc30-effbfb3c2523?monitor=true\u0026api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/eastus2/asyncoperations/256e3a19-2429-46e8-bc30-effbfb3c2523?monitor=true\u0026api-version=2019-06-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "10674"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/eastus2/asyncoperations/256e3a19-2429-46e8-bc30-effbfb3c2523?monitor=true\u0026api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "10662"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "kind": "Storage",
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1601/providers/Microsoft.Storage/storageAccounts/crptestar1813",
        "name": "crptestar1813",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "eastus2",
        "tags": {},
        "properties": {
          "privateEndpointConnections": [],
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2020-06-10T14:05:16.3302603Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2020-06-10T14:05:16.3302603Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "provisioningState": "Succeeded",
          "creationTime": "2020-06-10T14:05:16.2521330Z",
          "primaryEndpoints": {
            "blob": "https://crptestar1813.blob.core.windows.net/",
            "queue": "https://crptestar1813.queue.core.windows.net/",
            "table": "https://crptestar1813.table.core.windows.net/",
            "file": "https://crptestar1813.file.core.windows.net/"
          },
          "primaryLocation": "eastus2",
          "statusOfPrimary": "available",
          "secondaryLocation": "centralus",
          "statusOfSecondary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1601/providers/Microsoft.Storage/storageAccounts?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "10661"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard_GRS",
              "tier": "Standard"
            },
            "kind": "Storage",
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1601/providers/Microsoft.Storage/storageAccounts/crptestar1813",
            "name": "crptestar1813",
            "type": "Microsoft.Storage/storageAccounts",
            "location": "eastus2",
            "tags": {},
            "properties": {
      [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1601/providers/Microsoft.Compute/virtualMachineScaleSets/VMScaleSetDoesNotExist?api-version=2019-12-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14995"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1601/providers/Microsoft.Network/publicIPAddresses/pip5517?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "tags": {
          "key": "value"
        },
        "properties": {
          "publicIPAllocationMethod": "Dynamic",
          "dnsSettings": {
            "domainNameLabel": "dn164"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/eastus2/operations/a5de024b-0d3b-4103-b040-67379dd0fc34?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022pip5517\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscript[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/eastus2/operations/a5de024b-0d3b-4103-b040-67379dd0fc34?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "10659"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022status\u0022: \u0022Succeeded\u0022\r\n",
        "}"
      ]
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1601/providers/Microsoft.Network/publicIPAddresses/pip5517?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00225c34459c-37af-4b7b-a638-e3188688b34e\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "10658"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022pip5517\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1601/providers/Microsoft.Network/publicIPAddresses/pip5517\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u00225c34459c-37af-4b7b-a638-e3188688b34e\\\u0022\u0022[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1601/providers/Microsoft.Network/virtualNetworks/vn1055?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "sn9329",
              "properties": {
                "addressPrefix": "10.0.0.0/24"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/eastus2/operations/a7c7f1bc-ec7d-47e1-975d-67605f8cf1cb?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
       [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1601/providers/Microsoft.Network/virtualNetworks/vn1055/subnets/sn9329?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022c723b1ed[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1601/providers/Microsoft.Network/networkInterfaces/nic6771?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2",
        "tags": {
          "key": "value"
        },
        "properties": {
          "ipConfigurations": [
            {
              "name": "ip9159",
              "properties": {
                "privateIPAllocationMethod": "Dynamic",
                "subnet": {
                  "name": "sn9329",
                  "etag": "W/\u0022c723b1ed-8b3b-4fa2-b83d-679ea4ccd63f\u0022",
                  "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1601/providers/Microsoft.Network/virtualNetworks/vn1055/subnets/sn9329",
                  "properties": {
                    "addressPrefix": "10.0.0.0/24",
                    "delegations": [],
                    "provisioningState": "Succeeded",
                    "privateEndpointNetworkPolicies": "Enabled",
                    "privateLinkServiceNetworkPolicies": "Enabled"
                  }
                }
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/eastus2/operations/d4ae0fb3-afb6-4099-8986-df9c58c79682?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
 [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1601/providers/Microsoft.Compute/virtualMachineScaleSets/vmss7431?api-version=2019-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_A0",
          "capacity": 2
        },
        "location": "eastus2",
        "tags": {
          "RG": "rg",
          "testTag": "1"
        },
        "properties": {
          "upgradePolicy": {
            "mode": "Automatic"
          },
          "virtualMachineProfile": {
            "osProfile": {
              "computerNamePrefix": "test",
              "adminUsername": "Foo12",
              "adminPassword": "[PLACEHOLDEr1]",
              "customData": "Q3VzdG9tIGRhdGE="
            },
            "storageProfile": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2012-R2-Datacenter",
                "version": "4.127.20180315"
              },
              "dataDisks": [
                {
                  "lun": 1,
                  "createOption": "Empty",
                  "diskSizeGB": 128
                }
              ]
            },
            "networkProfile": {
              "networkInterfaceConfigurations": [
                {
                  "name": "vmsstestnetconfig3391",
                  "properties": {
                    "primary": true,
                    "ipConfigurations": [
                      {
                        "name": "vmsstestnetconfig7580",
                        "properties": {
                          "subnet": {
                            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1601/providers/Microsoft.Network/virtualNetworks/vn1055/subnets/sn9329"
                          },
                          "applicationGatewayBackendAddressPools": []
                        }
                      }
                    ]
                  }
                }
              ]
            },
            "scheduledEventsProfile": {
              "terminateNotificationProfile": {
                "notBeforeTimeout": "PT6M",
                "enable": true
              }
            }
          },
          "overprovision": true
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/eastus2/operations/2ae4fb19-3587-4f58-bdd7-e5824588a344?api-version=2019-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/CreateVMScaleSet3Min;59,Microsoft.Compute/CreateVMScaleSet30Min;298,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1196,Microsoft.Compute/VmssQueuedVMOperations;4796",
        "x-ms-ratelimit-remaining-subscription-writes": "1192",
        "x-ms-request-charge": "4"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022vmss7431\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar1601/providers/Microsoft.Compute/virtualMachineScaleSets/vmss7431\u0022,\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Compute/virtualMachineScaleSets\u0022,\r\n",
        "  \u0022location\u0022: \u0022eastus2\u0022,\r\n",
        "  \u0022tags\u0022: {\r\n",
        "    [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/eastus2/operations/2ae4fb19-3587-4f58-bdd7-e5824588a344?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "97",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14906,Microsoft.Compute/GetOperation30Min;28951",
        "x-ms-ratelimit-remaining-subscription-reads": "11314"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022startTime\u0022: \u00222020-06-10T14:05:54.562631\u002B00:00\u0022,\r\n",
        "  \u0022status\u0022: \u0022InProgress\u0022,\r\n",
        "  \u0022name\u0022: \u00222ae4fb19-3587-4f58-bdd7-e5824588a344\u0022\r\n",
        "}"
      ]
    },
[...]
