{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/crptestar4878?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "southeastasia",
        "tags": {
          "crptestar4878": "2020-06-10 13:40:23Z"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar4878",
        "name": "crptestar4878",
        "location": "southeastasia",
        "tags": {
          "crptestar4878": "2020-06-10 13:40:23Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar4878/providers/Microsoft.Storage/storageAccounts/crptestar9138?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_GRS"
        },
        "kind": "Storage",
        "location": "southeastasia",
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/southeastasia/asyncoperations/45369670-b4f5-419e-b8ac-00fa88578fcc?monitor=true\u0026api-version=2019-06-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/southeastasia/asyncoperations/45369670-b4f5-419e-b8ac-00fa88578fcc?monitor=true\u0026api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/southeastasia/asyncoperations/45369670-b4f5-419e-b8ac-00fa88578fcc?monitor=true\u0026api-version=2019-06-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "11072"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/southeastasia/asyncoperations/45369670-b4f5-419e-b8ac-00fa88578fcc?monitor=true\u0026api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11046"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "kind": "Storage",
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar4878/providers/Microsoft.Storage/storageAccounts/crptestar9138",
        "name": "crptestar9138",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "southeastasia",
        "tags": {},
        "properties": {
          "privateEndpointConnections": [],
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2020-06-10T13:40:25.3764999Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2020-06-10T13:40:25.3764999Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "provisioningState": "Succeeded",
          "creationTime": "2020-06-10T13:40:25.3296154Z",
          "primaryEndpoints": {
            "blob": "https://crptestar9138.blob.core.windows.net/",
            "queue": "https://crptestar9138.queue.core.windows.net/",
            "table": "https://crptestar9138.table.core.windows.net/",
            "file": "https://crptestar9138.file.core.windows.net/"
          },
          "primaryLocation": "southeastasia",
          "statusOfPrimary": "available",
          "secondaryLocation": "eastasia",
          "statusOfSecondary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar4878/providers/Microsoft.Storage/storageAccounts?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "11045"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard_GRS",
              "tier": "Standard"
            },
            "kind": "Storage",
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar4878/providers/Microsoft.Storage/storageAccounts/crptestar9138",
            "name": "crptestar9138",
            "type": "Microsoft.Storage/storageAccounts",
            "location": "southeastasia",
            "tags": {},
            "properties": {
[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar4878/providers/Microsoft.Compute/virtualMachineScaleSets/VMScaleSetDoesNotExist?api-version=2019-12-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14992"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar4878/providers/Microsoft.Network/publicIPAddresses/pip6086?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "southeastasia",
        "tags": {
          "key": "value"
        },
        "properties": {
          "publicIPAllocationMethod": "Dynamic",
          "dnsSettings": {
            "domainNameLabel": "dn6232"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/southeastasia/operations/71da0c8c-b769-472d-827e-4246e677f7bf?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022pip6086\u0022,\r\n",
        "  \u0022id\u0022: \u0022/sub[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/southeastasia/operations/71da0c8c-b769-472d-827e-4246e677f7bf?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "2",
        "x-ms-ratelimit-remaining-subscription-reads": "11043"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022status\u0022: \u0022InProgress\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar4878/providers/Microsoft.Network/publicIPAddresses/pip6086?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022d8c654e2-5a11-4e12-ad78-93ebe7085b6d\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "11040"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022pip6086\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar4878/providers/Microsoft.Network/publicIPAddresses/pip6086\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u0022d8c654e2-5a11-4e12-ad78-93ebe7085b6d\\\u0022\u0022[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar4878/providers/Microsoft.Network/virtualNetworks/vn7207?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "southeastasia",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "sn7495",
              "properties": {
                "addressPrefix": "10.0.0.0/24"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/southeastasia/operations/9607ea60-a99e-40e7-864f-242e45f92195?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
 [...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar4878/providers/Microsoft.Network/virtualNetworks/vn7207/subnets/sn7495?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022ecffad1b[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar4878/providers/Microsoft.Network/networkInterfaces/nic3187?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "southeastasia",
        "tags": {
          "key": "value"
        },
        "properties": {
          "ipConfigurations": [
            {
              "name": "ip9338",
              "properties": {
                "privateIPAllocationMethod": "Dynamic",
                "subnet": {
                  "name": "sn7495",
                  "etag": "W/\u0022ecffad1b-6a0e-498b-a925-855998b21e0f\u0022",
                  "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar4878/providers/Microsoft.Network/virtualNetworks/vn7207/subnets/sn7495",
                  "properties": {
                    "addressPrefix": "10.0.0.0/24",
                    "delegations": [],
                    "provisioningState": "Succeeded",
                    "privateEndpointNetworkPolicies": "Enabled",
                    "privateLinkServiceNetworkPolicies": "Enabled"
                  }
                }
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/southeastasia/operations/5ac1f3da-e001-48c6-b86a-19acdb956b58?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar4878/providers/Microsoft.Compute/virtualMachineScaleSets/vmss8545?api-version=2019-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_A1",
          "tier": "Standard",
          "capacity": 2
        },
        "location": "southeastasia",
        "tags": {
          "RG": "rg",
          "testTag": "1"
        },
        "properties": {
          "upgradePolicy": {
            "mode": "Automatic"
          },
          "virtualMachineProfile": {
            "osProfile": {
              "computerNamePrefix": "test",
              "adminUsername": "Foo12",
              "adminPassword": "[PLACEHOLDEr1]",
              "customData": "Q3VzdG9tIGRhdGE="
            },
            "storageProfile": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2012-R2-Datacenter",
                "version": "4.127.20180315"
              },
              "dataDisks": [
                {
                  "lun": 1,
                  "createOption": "Empty",
                  "diskSizeGB": 128
                }
              ]
            },
            "networkProfile": {
              "networkInterfaceConfigurations": [
                {
                  "name": "vmsstestnetconfig2049",
                  "properties": {
                    "primary": true,
                    "ipConfigurations": [
                      {
                        "name": "vmsstestnetconfig2364",
                        "properties": {
                          "subnet": {
                            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar4878/providers/Microsoft.Network/virtualNetworks/vn7207/subnets/sn7495"
                          },
                          "applicationGatewayBackendAddressPools": []
                        }
                      }
                    ]
                  }
                }
              ]
            },
            "priority": "Low"
          },
          "overprovision": true
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/southeastasia/operations/c66c55dc-a691-4618-b159-15d0419abfa0?api-version=2019-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/CreateVMScaleSet3Min;59,Microsoft.Compute/CreateVMScaleSet30Min;295,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1192,Microsoft.Compute/VmssQueuedVMOperations;4796",
        "x-ms-ratelimit-remaining-subscription-writes": "1185",
        "x-ms-request-charge": "4"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022vmss8545\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar4878/providers/Microsoft.Compute/virtualMachineScaleSets/vmss8545\u0022,\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Compute/virtualMachineScaleSets\u0022,\r\n",
        "  \u0022location\u0022: \u0022southeastasia\u0022,\r\n",
        "  \u0022tags\u0022: {\r\n",
       [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/southeastasia/operations/c66c55dc-a691-4618-b159-15d0419abfa0?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "97",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14674,Microsoft.Compute/GetOperation30Min;27125",
        "x-ms-ratelimit-remaining-subscription-reads": "11028"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022startTime\u0022: \u00222020-06-10T13:41:06.9789122\u002B00:00\u0022,\r\n",
        "  \u0022status\u0022: \u0022InProgress\u0022,\r\n",
        "  \u0022name\u0022: \u0022c66c55dc-a691-4618-b159-15d0419abfa0\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar4878/providers/Microsoft.Compute/virtualMachineScaleSets/vmss8545/instanceView?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-r[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar4878/providers/Microsoft.Compute/virtualMachineScaleSets?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "M[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar4878/providers/Microsoft.Compute/virtualMachineScaleSets/vmss8545/skus?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining[...]
[...]
