{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet935?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1045"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935",
        "name": "azsmnet935",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet935/providers/Microsoft.Resources/deployments/azsmnet7275?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": {
            "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "resourceGroupName": {
                "type": "String"
              },
              "location": {
                "type": "String"
              },
              "virtualMachineName": {
                "type": "String"
              },
              "virtualMachineSize": {
                "type": "String"
              },
              "adminUsername": {
                "type": "String"
              },
              "storageAccountName": {
                "type": "String"
              },
              "virtualNetworkName": {
                "type": "String"
              },
              "routeTableName": {
                "type": "String"
              },
              "networkInterfaceName": {
                "type": "String"
              },
              "networkSecurityGroupName": {
                "type": "String"
              },
              "adminPassword": {
                "type": "SecureString"
              },
              "storageAccountType": {
                "type": "String"
              },
              "diagnosticsStorageAccountName": {
                "type": "String"
              },
              "diagnosticsStorageAccountId": {
                "type": "String"
              },
              "diagnosticsStorageAccountType": {
                "type": "String"
              },
              "addressPrefix": {
                "type": "String"
              },
              "subnetName": {
                "type": "String"
              },
              "subnetPrefix": {
                "type": "String"
              },
              "publicIpAddressName": {
                "type": "String"
              },
              "publicIpAddressType": {
                "type": "String"
              }
            },
            "variables": {
              "vnetId": "[resourceId(parameters(\u0027resourceGroupName\u0027),\u0027Microsoft.Network/virtualNetworks\u0027, parameters(\u0027virtualNetworkName\u0027))]",
              "subnetRef": "[concat(variables(\u0027vnetId\u0027), \u0027/subnets/\u0027, parameters(\u0027subnetName\u0027))]"
            },
            "resources": [
              {
                "type": "Microsoft.Compute/virtualMachines",
                "name": "[parameters(\u0027virtualMachineName\u0027)]",
                "apiVersion": "2015-06-15",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "osProfile": {
                    "computerName": "[parameters(\u0027virtualMachineName\u0027)]",
                    "adminUsername": "[parameters(\u0027adminUsername\u0027)]",
                    "adminPassword": "[parameters(\u0027adminPassword\u0027)]",
                    "windowsConfiguration": {
                      "provisionVmAgent": "true"
                    }
                  },
                  "hardwareProfile": {
                    "vmSize": "[parameters(\u0027virtualMachineSize\u0027)]"
                  },
                  "storageProfile": {
                    "imageReference": {
                      "publisher": "MicrosoftWindowsServer",
                      "offer": "WindowsServer",
                      "sku": "2016-Datacenter",
                      "version": "latest"
                    },
                    "osDisk": {
                      "name": "[parameters(\u0027virtualMachineName\u0027)]",
                      "createOption": "fromImage",
                      "vhd": {
                        "uri": "[concat(concat(reference(resourceId(parameters(\u0027resourceGroupName\u0027), \u0027Microsoft.Storage/storageAccounts\u0027, parameters(\u0027storageAccountName\u0027)), \u00272015-06-15\u0027).primaryEndpoints[\u0027blob\u0027], \u0027vhds/\u0027), parameters(\u0027virtualMachineName\u0027), \u002720161217141554.vhd\u0027)]"
                      }
                    },
                    "dataDisks": []
                  },
                  "networkProfile": {
                    "networkInterfaces": [
                      {
                        "id": "[resourceId(\u0027Microsoft.Network/networkInterfaces\u0027, parameters(\u0027networkInterfaceName\u0027))]"
                      }
                    ]
                  },
                  "diagnosticsProfile": {
                    "bootDiagnostics": {
                      "enabled": true,
                      "storageUri": "[reference(resourceId(parameters(\u0027resourceGroupName\u0027), \u0027Microsoft.Storage/storageAccounts\u0027, parameters(\u0027diagnosticsStorageAccountName\u0027)), \u00272015-06-15\u0027).primaryEndpoints[\u0027blob\u0027]]"
                    }
                  }
                },
                "dependsOn": [
                  "[concat(\u0027Microsoft.Network/networkInterfaces/\u0027, parameters(\u0027networkInterfaceName\u0027))]",
                  "[concat(\u0027Microsoft.Storage/storageAccounts/\u0027, parameters(\u0027storageAccountName\u0027))]",
                  "[concat(\u0027Microsoft.Storage/storageAccounts/\u0027, parameters(\u0027diagnosticsStorageAccountName\u0027))]"
                ]
              },
              {
                "type": "Microsoft.Storage/storageAccounts",
                "name": "[parameters(\u0027storageAccountName\u0027)]",
                "apiVersion": "2015-06-15",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "accountType": "[parameters(\u0027storageAccountType\u0027)]"
                }
              },
              {
                "type": "Microsoft.Storage/storageAccounts",
                "name": "[parameters(\u0027diagnosticsStorageAccountName\u0027)]",
                "apiVersion": "2015-06-15",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "accountType": "[parameters(\u0027diagnosticsStorageAccountType\u0027)]"
                }
              },
              {
                "type": "Microsoft.Network/routeTables",
                "name": "[parameters(\u0027routeTableName\u0027)]",
                "apiVersion": "2016-09-01",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "routes": [
                    {
                      "name": "route1",
                      "properties": {
                        "addressPrefix": "10.1.3.0/24",
                        "nextHopType": "VirtualAppliance",
                        "nextHopIpAddress": "10.0.1.2"
                      }
                    }
                  ]
                }
              },
              {
                "type": "Microsoft.Network/virtualNetworks",
                "name": "[parameters(\u0027virtualNetworkName\u0027)]",
                "apiVersion": "2016-09-01",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "addressSpace": {
                    "addressPrefixes": [
                      "[parameters(\u0027addressPrefix\u0027)]"
                    ]
                  },
                  "subnets": [
                    {
                      "name": "[parameters(\u0027subnetName\u0027)]",
                      "properties": {
                        "addressPrefix": "[parameters(\u0027subnetPrefix\u0027)]",
                        "routeTable": {
                          "id": "[resourceId(\u0027Microsoft.Network/routeTables\u0027, parameters(\u0027routeTableName\u0027))]"
                        }
                      }
                    }
                  ]
                },
                "dependsOn": [
                  "[concat(\u0027Microsoft.Network/routeTables/\u0027, parameters(\u0027routeTableName\u0027))]"
                ]
              },
              {
                "type": "Microsoft.Network/networkInterfaces",
                "name": "[parameters(\u0027networkInterfaceName\u0027)]",
                "apiVersion": "2016-09-01",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "ipConfigurations": [
                    {
                      "name": "ipconfig1",
                      "properties": {
                        "subnet": {
                          "id": "[variables(\u0027subnetRef\u0027)]"
                        },
                        "privateIPAllocationMethod": "Dynamic",
                        "publicIpAddress": {
                          "id": "[resourceId(parameters(\u0027resourceGroupName\u0027),\u0027Microsoft.Network/publicIpAddresses\u0027, parameters(\u0027publicIpAddressName\u0027))]"
                        }
                      }
                    }
                  ],
                  "networkSecurityGroup": {
                    "id": "[resourceId(parameters(\u0027resourceGroupName\u0027), \u0027Microsoft.Network/networkSecurityGroups\u0027, parameters(\u0027networkSecurityGroupName\u0027))]"
                  }
                },
                "dependsOn": [
                  "[concat(\u0027Microsoft.Network/virtualNetworks/\u0027, parameters(\u0027virtualNetworkName\u0027))]",
                  "[concat(\u0027Microsoft.Network/publicIpAddresses/\u0027, parameters(\u0027publicIpAddressName\u0027))]",
                  "[concat(\u0027Microsoft.Network/networkSecurityGroups/\u0027, parameters(\u0027networkSecurityGroupName\u0027))]"
                ]
              },
              {
                "type": "Microsoft.Network/publicIpAddresses",
                "name": "[parameters(\u0027publicIpAddressName\u0027)]",
                "apiVersion": "2016-09-01",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "publicIpAllocationMethod": "[parameters(\u0027publicIpAddressType\u0027)]"
                }
              },
              {
                "type": "Microsoft.Network/networkSecurityGroups",
                "name": "[parameters(\u0027networkSecurityGroupName\u0027)]",
                "apiVersion": "2016-09-01",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "securityRules": [
                    {
                      "name": "default-allow-rdp",
                      "properties": {
                        "priority": 1000,
                        "sourceAddressPrefix": "*",
                        "protocol": "TCP",
                        "destinationPortRange": "3389",
                        "access": "Allow",
                        "direction": "Inbound",
                        "sourcePortRange": "*",
                        "destinationAddressPrefix": "*"
                      }
                    }
                  ]
                }
              }
            ],
            "outputs": {
              "adminUsername": {
                "type": "String",
                "value": "[parameters(\u0027adminUsername\u0027)]"
              }
            }
          },
          "parameters": {
            "resourceGroupName": {
              "value": "azsmnet935"
            },
            "location": {
              "value": "westus2"
            },
            "virtualMachineName": {
              "value": "azsmnet3796"
            },
            "virtualMachineSize": {
              "value": "Standard_DS1_v2"
            },
            "adminUsername": {
              "va[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet935/providers/Microsoft.Resources/deployments/azsmnet7275/operationStatuses/08586107996927519883?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "9298"
      },
      "ResponseBody": {
        "status": "Running"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet935/providers/Microsoft.Resources/deployments/azsmnet7275?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "9234"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Resources/deployments/azsmnet7275",
        "name": "azsmnet7275",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "8977858299135338221",
          "parameters": {
            "resourceGroupName": {
              "type": "String",
              "value": "azsmnet935"
            },
            "location": {
              "type": "String",
              "value": "westus2"
            },
            "virtualMachineName": {
              "type": "String",
              "value": "azsmnet3796"
            },
            "virtualMachineSize": {
              "type": "String",
              "value": "Standard_DS1_v[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Network/networkInterfaces/azsmnet3738?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002245f46755-d19e-4d8b-83bd-0a824128f666\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "9233"
      },
      "ResponseBody": {
        "name": "azsmnet3738",
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Network/networkInterfaces/azsmnet3738",
        "etag": "W/\u002245f46755-d19e-4d8b-83bd-0a824128f666\u0022",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "98d7f8d1-512f-4bf4-a6b3-562ce3c9479d",
          "ipConfigurations": [
            {
              "name": "ipconfig1",
              "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Network/networkInterfaces/azsmnet3738/ipConfigurations/ipconfig1",
              "etag": "W/\u002245f46755-d19e-4d8b-83bd-0a824128f666\u0022",
              "type": "Microsoft.Network/networkInterfaces/ipConfigurations",
              "properties": {
                "provisioningState": "Succeeded",
                "privateIPAddress": "10.17.3.4",
                "privateIPAllocationMethod": "Dynamic",
                "publicIPAddress": {
                  "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Network/publicIPAddresses/azsmnet3796-ip"
                },
                "subnet": {
                  "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Network/virtualNetworks/azsmnet935-vnet/subnets/default"
                },
                "primary": true,
                "privateIPAddressVersion": "IPv4"
              }
            }
          ],
          "dnsSettings": {
            "dnsServers": [],
            "appliedDnsServers": [],
            "internalDomainNameSuffix": "1gfnevyci5rehnakd1des3uija.xx.internal.cloudapp.net"
          },
          "macAddress": "00-0D-3A-C3-5E-84",
          "enableAcceleratedNetworking": false,
          "enableIPForwarding": false,
          "networkSecurityGroup": {
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Network/networkSecurityGroups/azsmnet3796-nsg"
          },
          "primary": true,
          "virtualMachine": {
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Compute/virtualMachines/azsmnet3796"
          },
          "hostedWorkloads": [],
          "tapConfigurations": [],
          "nicType": "Standard"
        },
        "type": "Microsoft.Network/networkInterfaces"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Compute/virtualMachines/azsmnet3796?$expand=instanceView\u0026api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/LowCostGet3Min;3998,Microsoft.Compute/LowCostGet30Min;31998",
        "x-ms-ratelimit-remaining-subscription-reads": "9232"
      },
      "ResponseBody": {
        "name": "azsmnet3796",
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Compute/virtualMachines/azsmnet3796",
        "type": "Microsoft.Compute/virtualMachines",
        "location": "westus2",
        "properties": {
          "vmId": "fd7055cb-c5bb-41c8-9be2-e9f6b790d188",
          "hardwareProfile": {
            "vmSize": "Standard_DS1_v2"
          },
          "storageProfile": {
            "imageReference": {
              "publisher": "MicrosoftWindowsServer",
              "offer": "WindowsServer",
              "sku": "2016-Datacenter",
              "version": "latest",
              "exactVersion": "14393.3686.2005061700"
            },
            "osDisk": {
              "osType": "Windows",
              "name": "azsmnet3796",
              "createOption": "FromImage",
              "vhd": {
                "uri": "https://azsmnet3990.blob.core.windows.net/vhds/azsmnet379620161217141554.vhd"
              },
              "caching": "ReadWrite",
              "diskSizeGB": 127
            },
            "dataDisks": []
          },
          "osProfile": {
            "computerName": "azsmnet3796",
            "adminUsername": "netanalytics32",
            "windowsConfiguration": {
              "provisionVMAgent": true,
              "enableAutomaticUpdates": true
            },
            "secrets": []
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Network/networkInterfaces/azsmnet3738"
              }
            ]
          },
          "diagnosticsProfile": {
            "bootDiagnostics": {
              "enabled": true,
              "storageUri": "https://azsmnet8418.blob.core.windows.net/"
            }
          },
          "provisioningState": "Succeeded",
          "instanceView": {
            "vmAgent": {
              "vmAgentVersion": "Unknown",
              "statuses": [
                {
                  "code": "ProvisioningState/Unavailable",
                  "level": "Warning",
                  "displayStatus": "Not Ready",
                  "message": "VM status blob is found but not yet populated.",
                  "time": "2020-05-30T02:55:27\u002B00:00"
                }
              ]
            },
            "disks": [
              {
                "name": "azsmnet3796",
                "statuses": [
                  {
                    "code": "ProvisioningState/succeeded",
                    "level": "Info",
                    "displayStatus": "Provisioning succeeded",
                    "time": "2020-05-30T02:54:02.4303054\u002B00:00"
                  }
                ]
              }
            ],
            "bootDiagnostics": {
              "consoleScreenshotBlobUri": "https://azsmnet8418.blob.core.windows.net/bootdiagnostics-azsmnet37-fd7055cb-c5bb-41c8-9be2-e9f6b790d188/azsmnet3796.fd7055cb-c5bb-41c8-9be2-e9f6b790d188.screenshot.bmp",
              "serialConsoleLogBlobUri": "https://azsmnet8418.blob.core.windows.net/bootdiagnostics-azsmnet37-fd7055cb-c5bb-41c8-9be2-e9f6b790d188/azsmnet3796.fd7055cb-c5bb-41c8-9be2-e9f6b790d188.serialconsole.log"
            },
            "hyperVGeneration": "V1",
            "statuses": [
              {
                "code": "ProvisioningState/succeeded",
                "level": "Info",
                "displayStatus": "Provisioning succeeded",
                "time": "2020-05-30T02:55:23.0865955\u002B00:00"
              },
              {
                "code": "PowerState/running",
                "level": "Info",
                "displayStatus": "VM running"
              }
            ]
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_westus2/nextHop?api-version=2020-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetResourceId": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Compute/virtualMachines/azsmnet3796",
        "sourceIPAddress": "10.17.3.4",
        "destinationIPAddress": "10.1.3.6"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/94041f0d-3944-4595-9822-71fe8bf43581?api-version=2020-04-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "9231"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/94041f0d-3944-4595-9822-71fe8bf43581?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/94041f0d-3944-4595-9822-71fe8bf43581?api-version=2020-04-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "9230"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/94041f0d-3944-4595-9822-71fe8bf43581?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/94041f0d-3944-4595-9822-71fe8bf43581?api-version=2020-04-01",
        "x-ms-ratelimit-remaining-subscription-reads": "9222"
      },
      "ResponseBody": {
        "nextHopType": "None",
        "nextHopIpAddress": "10.0.1.2",
        "routeTableId": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Network/routeTables/azsmnet935RT"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Network/routeTables/azsmnet935RT?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022829a6f2a-bad0-4367-917d-0c6dac2b284e\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "9211"
      },
      "ResponseBody": {
        "name": "azsmnet935RT",
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Network/routeTables/azsmnet935RT",
        "etag": "W/\u0022829a6f2a-bad0-4367-917d-0c6dac2b284e\u0022",
        "type": "Microsoft.Network/routeTables",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "5647d616-412b-4d2e-b891-42a29f4a8c85",
          "disableBgpRoutePropagation": false,
          "routes": [
            {
              "name": "route1",
              "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Network/routeTables/azsmnet935RT/routes/route1",
              "etag": "W/\u0022829a6f2a-bad0-4367-917d-0c6dac2b284e\u0022",
              "properties": {
                "provisioningState": "Succeeded",
                "addressPrefix": "10.1.3.0/24",
                "nextHopType": "VirtualAppliance",
                "nextHopIpAddress": "10.0.1.2",
                "hasBgpOverride": false
              },
              "type": "Microsoft.Network/routeTables/routes"
            }
          ],
          "subnets": [
            {
              "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet935/providers/Microsoft.Network/virtualNetworks/azsmnet935-vnet/subnets/default"
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BWlNNTkVUOTM1LVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BWlNNTkVUOTM1LVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2019-10-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "9210"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BWlNNTkVUOTM1LVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "9154"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "ApplicationId": "2ea36c80-f285-4b9c-850f-fea6da1358c7",
    "RandomSeed": "2118975657",
    "SUBSCRIPTION_ID": "c9cbd920-c00c-427c-852b-8aaf38badaeb",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}