{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet6191?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1043"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6191",
        "name": "azsmnet6191",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet6191/providers/Microsoft.Resources/deployments/azsmnet6143?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": {
            "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "resourceGroupName": {
                "type": "String"
              },
              "location": {
                "type": "String"
              },
              "virtualMachineName": {
                "type": "String"
              },
              "virtualMachineSize": {
                "type": "String"
              },
              "adminUsername": {
                "type": "String"
              },
              "storageAccountName": {
                "type": "String"
              },
              "virtualNetworkName": {
                "type": "String"
              },
              "routeTableName": {
                "type": "String"
              },
              "networkInterfaceName": {
                "type": "String"
              },
              "networkSecurityGroupName": {
                "type": "String"
              },
              "adminPassword": {
                "type": "SecureString"
              },
              "storageAccountType": {
                "type": "String"
              },
              "diagnosticsStorageAccountName": {
                "type": "String"
              },
              "diagnosticsStorageAccountId": {
                "type": "String"
              },
              "diagnosticsStorageAccountType": {
                "type": "String"
              },
              "addressPrefix": {
                "type": "String"
              },
              "subnetName": {
                "type": "String"
              },
              "subnetPrefix": {
                "type": "String"
              },
              "publicIpAddressName": {
                "type": "String"
              },
              "publicIpAddressType": {
                "type": "String"
              }
            },
            "variables": {
              "vnetId": "[resourceId(parameters(\u0027resourceGroupName\u0027),\u0027Microsoft.Network/virtualNetworks\u0027, parameters(\u0027virtualNetworkName\u0027))]",
              "subnetRef": "[concat(variables(\u0027vnetId\u0027), \u0027/subnets/\u0027, parameters(\u0027subnetName\u0027))]"
            },
            "resources": [
              {
                "type": "Microsoft.Compute/virtualMachines",
                "name": "[parameters(\u0027virtualMachineName\u0027)]",
                "apiVersion": "2015-06-15",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "osProfile": {
                    "computerName": "[parameters(\u0027virtualMachineName\u0027)]",
                    "adminUsername": "[parameters(\u0027adminUsername\u0027)]",
                    "adminPassword": "[parameters(\u0027adminPassword\u0027)]",
                    "windowsConfiguration": {
                      "provisionVmAgent": "true"
                    }
                  },
                  "hardwareProfile": {
                    "vmSize": "[parameters(\u0027virtualMachineSize\u0027)]"
                  },
                  "storageProfile": {
                    "imageReference": {
                      "publisher": "MicrosoftWindowsServer",
                      "offer": "WindowsServer",
                      "sku": "2016-Datacenter",
                      "version": "latest"
                    },
                    "osDisk": {
                      "name": "[parameters(\u0027virtualMachineName\u0027)]",
                      "createOption": "fromImage",
                      "vhd": {
                        "uri": "[concat(concat(reference(resourceId(parameters(\u0027resourceGroupName\u0027), \u0027Microsoft.Storage/storageAccounts\u0027, parameters(\u0027storageAccountName\u0027)), \u00272015-06-15\u0027).primaryEndpoints[\u0027blob\u0027], \u0027vhds/\u0027), parameters(\u0027virtualMachineName\u0027), \u002720161217141554.vhd\u0027)]"
                      }
                    },
                    "dataDisks": []
                  },
                  "networkProfile": {
                    "networkInterfaces": [
                      {
                        "id": "[resourceId(\u0027Microsoft.Network/networkInterfaces\u0027, parameters(\u0027networkInterfaceName\u0027))]"
                      }
                    ]
                  },
                  "diagnosticsProfile": {
                    "bootDiagnostics": {
                      "enabled": true,
                      "storageUri": "[reference(resourceId(parameters(\u0027resourceGroupName\u0027), \u0027Microsoft.Storage/storageAccounts\u0027, parameters(\u0027diagnosticsStorageAccountName\u0027)), \u00272015-06-15\u0027).primaryEndpoints[\u0027blob\u0027]]"
                    }
                  }
                },
                "dependsOn": [
                  "[concat(\u0027Microsoft.Network/networkInterfaces/\u0027, parameters(\u0027networkInterfaceName\u0027))]",
                  "[concat(\u0027Microsoft.Storage/storageAccounts/\u0027, parameters(\u0027storageAccountName\u0027))]",
                  "[concat(\u0027Microsoft.Storage/storageAccounts/\u0027, parameters(\u0027diagnosticsStorageAccountName\u0027))]"
                ]
              },
              {
                "type": "Microsoft.Storage/storageAccounts",
                "name": "[parameters(\u0027storageAccountName\u0027)]",
                "apiVersion": "2015-06-15",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "accountType": "[parameters(\u0027storageAccountType\u0027)]"
                }
              },
              {
                "type": "Microsoft.Storage/storageAccounts",
                "name": "[parameters(\u0027diagnosticsStorageAccountName\u0027)]",
                "apiVersion": "2015-06-15",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "accountType": "[parameters(\u0027diagnosticsStorageAccountType\u0027)]"
                }
              },
              {
                "type": "Microsoft.Network/routeTables",
                "name": "[parameters(\u0027routeTableName\u0027)]",
                "apiVersion": "2016-09-01",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "routes": [
                    {
                      "name": "route1",
                      "properties": {
                        "addressPrefix": "10.1.3.0/24",
                        "nextHopType": "VirtualAppliance",
                        "nextHopIpAddress": "10.0.1.2"
                      }
                    }
                  ]
                }
              },
              {
                "type": "Microsoft.Network/virtualNetworks",
                "name": "[parameters(\u0027virtualNetworkName\u0027)]",
                "apiVersion": "2016-09-01",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "addressSpace": {
                    "addressPrefixes": [
                      "[parameters(\u0027addressPrefix\u0027)]"
                    ]
                  },
                  "subnets": [
                    {
                      "name": "[parameters(\u0027subnetName\u0027)]",
                      "properties": {
                        "addressPrefix": "[parameters(\u0027subnetPrefix\u0027)]",
                        "routeTable": {
                          "id": "[resourceId(\u0027Microsoft.Network/routeTables\u0027, parameters(\u0027routeTableName\u0027))]"
                        }
                      }
                    }
                  ]
                },
                "dependsOn": [
                  "[concat(\u0027Microsoft.Network/routeTables/\u0027, parameters(\u0027routeTableName\u0027))]"
                ]
              },
              {
                "type": "Microsoft.Network/networkInterfaces",
                "name": "[parameters(\u0027networkInterfaceName\u0027)]",
                "apiVersion": "2016-09-01",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "ipConfigurations": [
                    {
                      "name": "ipconfig1",
                      "properties": {
                        "subnet": {
                          "id": "[variables(\u0027subnetRef\u0027)]"
                        },
                        "privateIPAllocationMethod": "Dynamic",
                        "publicIpAddress": {
                          "id": "[resourceId(parameters(\u0027resourceGroupName\u0027),\u0027Microsoft.Network/publicIpAddresses\u0027, parameters(\u0027publicIpAddressName\u0027))]"
                        }
                      }
                    }
                  ],
                  "networkSecurityGroup": {
                    "id": "[resourceId(parameters(\u0027resourceGroupName\u0027), \u0027Microsoft.Network/networkSecurityGroups\u0027, parameters(\u0027networkSecurityGroupName\u0027))]"
                  }
                },
                "dependsOn": [
                  "[concat(\u0027Microsoft.Network/virtualNetworks/\u0027, parameters(\u0027virtualNetworkName\u0027))]",
                  "[concat(\u0027Microsoft.Network/publicIpAddresses/\u0027, parameters(\u0027publicIpAddressName\u0027))]",
                  "[concat(\u0027Microsoft.Network/networkSecurityGroups/\u0027, parameters(\u0027networkSecurityGroupName\u0027))]"
                ]
              },
              {
                "type": "Microsoft.Network/publicIpAddresses",
                "name": "[parameters(\u0027publicIpAddressName\u0027)]",
                "apiVersion": "2016-09-01",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "publicIpAllocationMethod": "[parameters(\u0027publicIpAddressType\u0027)]"
                }
              },
              {
                "type": "Microsoft.Network/networkSecurityGroups",
                "name": "[parameters(\u0027networkSecurityGroupName\u0027)]",
                "apiVersion": "2016-09-01",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "securityRules": [
                    {
                      "name": "default-allow-rdp",
                      "properties": {
                        "priority": 1000,
                        "sourceAddressPrefix": "*",
                        "protocol": "TCP",
                        "destinationPortRange": "3389",
                        "access": "Allow",
                        "direction": "Inbound",
                        "sourcePortRange": "*",
                        "destinationAddressPrefix": "*"
                      }
                    }
                  ]
                }
              }
            ],
            "outputs": {
              "adminUsername": {
                "type": "String",
                "value": "[parameters(\u0027adminUsername\u0027)]"
              }
            }
          },
          "parameters": {
            "resourceGroupName": {
              "value": "azsmnet6191"
            },
            "location": {
              "value": "westus2"
            },
            "virtualMachineName": {
              "value": "azsmnet2763"
            },
            "virtualMachineSize": {
              "value": "Standard_DS1_v2"
            },
            "adminUsername": {
              "v[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet6191/providers/Microsoft.Resources/deployments/azsmnet6143/operationStatuses/08586107991318940334?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "9153"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet6191/providers/Microsoft.Resources/deployments/azsmnet6143?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "9055"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6191/providers/Microsoft.Resources/deployments/azsmnet6143",
        "name": "azsmnet6143",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "8977858299135338221",
          "parameters": {
            "resourceGroupName": {
              "type": "String",
              "value": "azsmnet6191"
            },
            "location": {
              "type": "String",
              "value": "westus2"
            },
            "virtualMachineName": {
              "type": "String",
              "value": "azsmnet2763"
            },
            "virtualMachineSize": {
              "type": "String",
              "value": "Standard_DS1_[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6191/providers/Microsoft.Network/networkInterfaces/azsmnet7091?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022677a003a-f916-459c-aeb0-cf0b5319156e\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "9054"
      },
      "ResponseBody": {
        "name": "azsmnet7091",
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6191/providers/Microsoft.Network/networkInterfaces/azsmnet7091",
        "etag": "W/\u0022677a003a-f916-459c-aeb0-cf0b5319156e\u0022",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "c9b71b37-ae3f-4cbd-8f56-ef0a42723923",
          "ipConfigurations": [
            {
              "name": "ipconfig1",
              "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6191/providers/Microsoft.Network/networkInterfaces/azsmnet7091/ipConfigurations/ipconfig1",
              "etag": "W/\u0022677a003a-f916-459c-aeb0-cf0b5319156e\u0022",
              "type": "Microsoft.Network/networkInterfaces/ipConfigurations",
              "properties": {
                "provisioningState": "Succeeded",
                "privateIPAddress": "10.17.3.4",
                "privateIPAllocationMethod": "Dynamic",
                "publicIPAddress": {
                  "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6191/providers/Microsoft.Network/publicIPAddresses/azsmnet2763-ip"
                },
                "subnet": {
                  "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6191/providers/Microsoft.Network/virtualNetworks/azsmnet6191-vnet/subnets/default"
                },
                "primary": true,
                "privateIPAddressVersion": "IPv4"
              }
            }
          ],
          "dnsSettings": {
            "dnsServers": [],
            "appliedDnsServers": [],
            "internalDomainNameSuffix": "hpu0uzmfhxtunjrzrptnuk2zxa.xx.internal.cloudapp.net"
          },
          "macAddress": "00-0D-3A-6E-E1-22",
          "enableAcceleratedNetworking": false,
          "enableIPForwarding": false,
          "networkSecurityGroup": {
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6191/providers/Microsoft.Network/networkSecurityGroups/azsmnet2763-nsg"
          },
          "primary": true,
          "virtualMachine": {
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6191/providers/Microsoft.Compute/virtualMachines/azsmnet2763"
          },
          "hostedWorkloads": [],
          "tapConfigurations": [],
          "nicType": "Standard"
        },
        "type": "Microsoft.Network/networkInterfaces"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6191/providers/Microsoft.Compute/virtualMachines/azsmnet2763?$expand=instanceView\u0026api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/LowCostGet3Min;3997,Microsoft.Compute/LowCostGet30Min;31992",
        "x-ms-ratelimit-remaining-subscription-reads": "9053"
      },
      "ResponseBody": {
        "name": "azsmnet2763",
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6191/providers/Microsoft.Compute/virtualMachines/azsmnet2763",
        "type": "Microsoft.Compute/virtualMachines",
        "location": "westus2",
        "properties": {
          "vmId": "c1f1a2fd-8e2e-4579-877e-9b7150dbca93",
          "hardwareProfile": {
            "vmSize": "Standard_DS1_v2"
          },
          "storageProfile": {
            "imageReference": {
              "publisher": "MicrosoftWindowsServer",
              "offer": "WindowsServer",
              "sku": "2016-Datacenter",
              "version": "latest",
              "exactVersion": "14393.3686.2005061700"
            },
            "osDisk": {
              "osType": "Windows",
              "name": "azsmnet2763",
              "createOption": "FromImage",
              "vhd": {
                "uri": "https://azsmnet7055.blob.core.windows.net/vhds/azsmnet276320161217141554.vhd"
              },
              "caching": "ReadWrite",
              "diskSizeGB": 127
            },
            "dataDisks": []
          },
          "osProfile": {
            "computerName": "azsmnet2763",
            "adminUsername": "netanalytics32",
            "windowsConfiguration": {
              "provisionVMAgent": true,
              "enableAutomaticUpdates": true
            },
            "secrets": []
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6191/providers/Microsoft.Network/networkInterfaces/azsmnet7091"
              }
            ]
          },
          "diagnosticsProfile": {
            "bootDiagnostics": {
              "enabled": true,
              "storageUri": "https://azsmnet9327.blob.core.windows.net/"
            }
          },
          "provisioningState": "Succeeded",
          "instanceView": {
            "vmAgent": {
              "vmAgentVersion": "Unknown",
              "statuses": [
                {
                  "code": "ProvisioningState/Unavailable",
                  "level": "Warning",
                  "displayStatus": "Not Ready",
                  "message": "VM status blob is found but not yet populated.",
                  "time": "2020-05-30T03:04:49\u002B00:00"
                }
              ]
            },
            "disks": [
              {
                "name": "azsmnet2763",
                "statuses": [
                  {
                    "code": "ProvisioningState/succeeded",
                    "level": "Info",
                    "displayStatus": "Provisioning succeeded",
                    "time": "2020-05-30T03:03:17.1336732\u002B00:00"
                  }
                ]
              }
            ],
            "bootDiagnostics": {
              "consoleScreenshotBlobUri": "https://azsmnet9327.blob.core.windows.net/bootdiagnostics-azsmnet27-c1f1a2fd-8e2e-4579-877e-9b7150dbca93/azsmnet2763.c1f1a2fd-8e2e-4579-877e-9b7150dbca93.screenshot.bmp",
              "serialConsoleLogBlobUri": "https://azsmnet9327.blob.core.windows.net/bootdiagnostics-azsmnet27-c1f1a2fd-8e2e-4579-877e-9b7150dbca93/azsmnet2763.c1f1a2fd-8e2e-4579-877e-9b7150dbca93.serialconsole.log"
            },
            "hyperVGeneration": "V1",
            "statuses": [
              {
                "code": "ProvisioningState/succeeded",
                "level": "Info",
                "displayStatus": "Provisioning succeeded",
                "time": "2020-05-30T03:04:44.4930423\u002B00:00"
              },
              {
                "code": "PowerState/running",
                "level": "Info",
                "displayStatus": "VM running"
              }
            ]
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_westus2/nextHop?api-version=2020-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "targetResourceId": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6191/providers/Microsoft.Compute/virtualMachines/azsmnet2763",
        "sourceIPAddress": "10.17.3.4",
        "destinationIPAddress": "10.1.3.6"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/928a5fff-f5e9-4bd8-bde8-b66a7a29ba7d?api-version=2020-04-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "9052"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/928a5fff-f5e9-4bd8-bde8-b66a7a29ba7d?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/928a5fff-f5e9-4bd8-bde8-b66a7a29ba7d?api-version=2020-04-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "9051"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/928a5fff-f5e9-4bd8-bde8-b66a7a29ba7d?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/928a5fff-f5e9-4bd8-bde8-b66a7a29ba7d?api-version=2020-04-01",
        "x-ms-ratelimit-remaining-subscription-reads": "9285"
      },
      "ResponseBody": {
        "nextHopType": "None",
        "nextHopIpAddress": "10.0.1.2",
        "routeTableId": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6191/providers/Microsoft.Network/routeTables/azsmnet6191RT"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6191/providers/Microsoft.Network/routeTables/azsmnet6191RT?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002255e0ccf5-2911-4ea8-962c-b3f73e0110a8\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "9274"
      },
      "ResponseBody": {
        "name": "azsmnet6191RT",
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6191/providers/Microsoft.Network/routeTables/azsmnet6191RT",
        "etag": "W/\u002255e0ccf5-2911-4ea8-962c-b3f73e0110a8\u0022",
        "type": "Microsoft.Network/routeTables",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded",
          "resourceGuid": "bb4e549e-0fb9-4f25-b0fb-a3c0d472ae59",
          "disableBgpRoutePropagation": false,
          "routes": [
            {
              "name": "route1",
              "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6191/providers/Microsoft.Network/routeTables/azsmnet6191RT/routes/route1",
              "etag": "W/\u002255e0ccf5-2911-4ea8-962c-b3f73e0110a8\u0022",
              "properties": {
                "provisioningState": "Succeeded",
                "addressPrefix": "10.1.3.0/24",
                "nextHopType": "VirtualAppliance",
                "nextHopIpAddress": "10.0.1.2",
                "hasBgpOverride": false
              },
              "type": "Microsoft.Network/routeTables/routes"
            }
          ],
          "subnets": [
            {
              "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet6191/providers/Microsoft.Network/virtualNetworks/azsmnet6191-vnet/subnets/default"
            }
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BWlNNTkVUNjE5MS1XRVNUVVMyIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMyIn0?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BWlNNTkVUNjE5MS1XRVNUVVMyIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMyIn0?api-version=2019-10-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "9273"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BWlNNTkVUNjE5MS1XRVNUVVMyIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMyIn0?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "9212"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "ApplicationId": "b7bc703a-cba6-43fb-9d1a-79713fd46d5c",
    "RandomSeed": "97480324",
    "SUBSCRIPTION_ID": "c9cbd920-c00c-427c-852b-8aaf38badaeb",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}