{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/providers/Microsoft.Resources/deployments/csmd1530/whatIf?api-version=2019-10-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {
          "whatIfSettings": {
            "resultFormat": "ResourceIdOnly"
          },
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "storageAccountName": {
                "type": "string",
                "defaultValue": "armbuilddemo1801"
              }
            },
            "variables": {},
            "resources": [
              {
                "type": "Microsoft.Authorization/policyDefinitions",
                "name": "policy2",
                "apiVersion": "2016-12-01",
                "properties": {
                  "policyType": "Custom",
                  "parameters": {},
                  "policyRule": {
                    "if": {
                      "field": "location",
                      "equals": "northeurope"
                    },
                    "then": {
                      "effect": "deny"
                    }
                  }
                }
              },
              {
                "type": "Microsoft.Authorization/policyAssignments",
                "name": "location-lock",
                "apiVersion": "2016-12-01",
                "dependsOn": [
                  "policy2"
                ],
                "properties": {
                  "scope": "[subscription().id]",
                  "policyDefinitionId": "[resourceId(\u0027Microsoft.Authorization/policyDefinitions\u0027, \u0027policy2\u0027)]"
                }
              },
              {
                "type": "Microsoft.Resources/deployments",
                "name": "rg-nested",
                "apiVersion": "2017-05-10",
                "resourceGroup": "SDK-test",
                "properties": {
                  "template": {
                    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "variables": {},
                    "resources": [
                      {
                        "type": "Microsoft.Storage/storageAccounts",
                        "name": "[parameters(\u0027storageAccountName\u0027)]",
                        "apiVersion": "2015-06-15",
                        "location": "East US",
                        "properties": {
                          "accountType": "Standard_LRS",
                          "supportsHttpsTrafficOnly": "true"
                        }
                      }
                    ]
                  },
                  "mode": "Incremental"
                }
              }
            ]
          },
          "mode": "Incremental"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItLUNTTUQxNTMwLUYxNkM3ODJBOjJENTUzRDoyRDQ4MUY6MkRCREJEOjJENjgwNDVCMzBGRTJDIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2019-10-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItLUNTTUQxNTMwLUYxNkM3ODJBOjJENTUzRDoyRDQ4MUY6MkRCREJEOjJENjgwNDVCMzBGRTJDIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItLUNTTUQxNTMwLUYxNkM3ODJBOjJENTUzRDoyRDQ4MUY6MkRCREJEOjJENjgwNDVCMzBGRTJDIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2019-10-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/operationresults/eyJqb2JJZCI6IkRlcGxveW1lbnRXaGF0SWZKb2ItLUNTTUQxNTMwLUYxNkM3ODJBOjJENTUzRDoyRDQ4MUY6MkRCREJEOjJENjgwNDVCMzBGRTJDIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMifQ?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11993"
      },
      "ResponseBody": {
        "status": "Succeeded",
        "properties": {
          "changes": [
            {
              "resourceId": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/providers/Microsoft.Authorization/policyAssignments/location-lock",
              "changeType": "Deploy"
            },
            {
              "resourceId": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/providers/Microsoft.Authorization/policyDefinitions/policy2",
              "changeType": "Deploy"
            }
          ]
        }
      }
    }
  ],
  "Variables": {
    "RandomSeed": "2133533449",
    "SUBSCRIPTION_ID": "b9f138a1-1d64-4108-8413-9ea3be1c1b2d"
  }
}