{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourcegroups/9147?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1193"
      },
      "ResponseBody": {
        "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/9147",
        "name": "9147",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourcegroups/9147/providers/Microsoft.Web//serverFarms/3389?api-version=2018-02-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {},
        "sku": {
          "name": "S1"
        },
        "location": "eastus2"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-writes": "1192"
      },
      "ResponseBody": {
        "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/9147/providers/Microsoft.Web/serverfarms/3389",
        "name": "3389",
        "type": "Microsoft.Web/serverfarms",
        "kind": "app",
        "location": "East US 2",
        "properties": {
          "serverFarmId": 19452,
          "name": "3389",
          "workerSize": "Default",
          "workerSizeId": 0,
          "workerTierName": null,
          "numberOfWorkers": 1,
          "currentWorkerSize": "Default",
          "currentWorkerSizeId": 0,
          "currentNumberOfWorkers": 1,
          "status": "Ready",
          "webSpace": "9147-EastUS2webspace",
          "subscription": "b9f138a1-1d64-4108-8413-9ea3be1c1b2d",
          "adminSiteName": null,
          "hostingEnvironment": null,
          "hostingEnvironmentProfile": null,
          "maximumNumberOfWorkers": 10,
          "planName": "VirtualDedicatedPlan",
          "adminRuntimeSiteName": null,
          "computeMode": "Dedicated",
          "siteMode": null,
          "geoRegion": "East US 2",
          "perSiteScaling": false,
          "maximumElasticWorkerCount": 1,
          "numberOfSites": 0,
          "hostingEnvironmentId": null,
          "isSpot": false,
          "spotExpirationTime": null,
          "freeOfferExpirationTime": null,
          "tags": null,
          "kind": "app",
          "resourceGroup": "9147",
          "reserved": false,
          "isXenon": false,
          "hyperV": false,
          "mdmId": "waws-prod-bn1-017_19452",
          "targetWorkerCount": 0,
          "targetWorkerSizeId": 0,
          "provisioningState": "Succeeded",
          "webSiteId": null,
          "existingServerFarmIds": null
        },
        "sku": {
          "name": "S1",
          "tier": "Standard",
          "size": "S1",
          "family": "S",
          "capacity": 1
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/providers/Microsoft.Authorization/policyDefinitions/6280?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "Azure.Management.Resources.Tests Policy Definition",
          "policyRule": {
            "if": {
              "source": "action",
              "equals": "ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write"
            },
            "then": {
              "effect": "deny"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1191"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "Azure.Management.Resources.Tests Policy Definition",
          "policyType": "Custom",
          "mode": "Indexed",
          "metadata": {
            "createdBy": "30aa469e-e248-40b6-bc03-e320b05037b9",
            "createdOn": "2020-05-29T05:24:37.6111109Z",
            "updatedBy": null,
            "updatedOn": null
          },
          "policyRule": {
            "if": {
              "source": "action",
              "equals": "ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write"
            },
            "then": {
              "effect": "deny"
            }
          }
        },
        "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/providers/Microsoft.Authorization/policyDefinitions/6280",
        "type": "Microsoft.Authorization/policyDefinitions",
        "name": "6280"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/9147/providers/Microsoft.Web/serverfarms/3389/providers/Microsoft.Authorization/policyAssignments/9017?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "A0",
          "tier": "Free"
        },
        "properties": {
          "displayName": "Azure.Management.Resources.Tests Policy Assignment",
          "policyDefinitionId": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/providers/Microsoft.Authorization/policyDefinitions/6280",
          "scope": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/9147/providers/Microsoft.Web/serverfarms/3389"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1190"
      },
      "ResponseBody": {
        "sku": {
          "name": "A0",
          "tier": "Free"
        },
        "properties": {
          "displayName": "Azure.Management.Resources.Tests Policy Assignment",
          "policyDefinitionId": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/providers/Microsoft.Authorization/policyDefinitions/6280",
          "scope": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/9147/providers/Microsoft.Web/serverfarms/3389",
          "metadata": {
            "createdBy": "30aa469e-e248-40b6-bc03-e320b05037b9",
            "createdOn": "2020-05-29T05:24:37.9860503Z",
            "updatedBy": null,
            "updatedOn": null
          },
          "enforcementMode": "Default"
        },
        "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/9147/providers/Microsoft.Web/serverfarms/3389/providers/Microsoft.Authorization/policyAssignments/9017",
        "type": "Microsoft.Authorization/policyAssignments",
        "name": "9017"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourcegroups/9147/providers///Microsoft.Web/serverfarms/3389/providers/Microsoft.Authorization/policyAssignments?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11983"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "A0",
              "tier": "Free"
            },
            "properties": {
              "policyDefinitionId": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/providers/Microsoft.Authorization/policyDefinitions/policy2",
              "scope": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d",
              "metadata": {
                "createdBy": "30aa469e-e248-40b6-bc03-e320b05037b9",
                "createdOn": "2020-05-[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourcegroups/9147?api-version=2019-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi05MTQ3LUVBU1RVUzIiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czIifQ?api-version=2019-10-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14993"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi05MTQ3LUVBU1RVUzIiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czIifQ?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi05MTQ3LUVBU1RVUzIiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czIifQ?api-version=2019-10-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11981"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi05MTQ3LUVBU1RVUzIiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czIifQ?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "11918"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "2080548562",
    "SUBSCRIPTION_ID": "b9f138a1-1d64-4108-8413-9ea3be1c1b2d"
  }
}