{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourcegroups/9865?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/9865",
        "name": "9865",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/providers/Microsoft.Authorization/policyDefinitions/9218?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "displayName": "Azure.Management.Resources.Tests Policy Definition",
          "policyRule": {
            "if": {
              "source": "action",
              "equals": "ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write"
            },
            "then": {
              "effect": "deny"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": {
        "properties": {
          "displayName": "Azure.Management.Resources.Tests Policy Definition",
          "policyType": "Custom",
          "mode": "Indexed",
          "metadata": {
            "createdBy": "30aa469e-e248-40b6-bc03-e320b05037b9",
            "createdOn": "2020-05-29T05:42:48.6977704Z",
            "updatedBy": null,
            "updatedOn": null
          },
          "policyRule": {
            "if": {
              "source": "action",
              "equals": "ResourceProviderTestHost/TestResourceType/TestResourceTypeNestedOne/write"
            },
            "then": {
              "effect": "deny"
            }
          }
        },
        "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/providers/Microsoft.Authorization/policyDefinitions/9218",
        "type": "Microsoft.Authorization/policyDefinitions",
        "name": "9218"
      }
    },
    {
      "RequestUri": "https://management.azure.com//subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/9865/providers/Microsoft.Authorization/policyAssignments/7773?api-version=2019-09-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "A0",
          "tier": "Free"
        },
        "properties": {
          "displayName": "Azure.Management.Resources.Tests Policy Assignment",
          "policyDefinitionId": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/providers/Microsoft.Authorization/policyDefinitions/9218",
          "scope": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/9865"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": {
        "sku": {
          "name": "A0",
          "tier": "Free"
        },
        "properties": {
          "displayName": "Azure.Management.Resources.Tests Policy Assignment",
          "policyDefinitionId": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/providers/Microsoft.Authorization/policyDefinitions/9218",
          "scope": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/9865",
          "metadata": {
            "createdBy": "30aa469e-e248-40b6-bc03-e320b05037b9",
            "createdOn": "2020-05-29T05:42:49.0727637Z",
            "updatedBy": null,
            "updatedOn": null
          },
          "enforcementMode": "Default"
        },
        "id": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/9865/providers/Microsoft.Authorization/policyAssignments/7773",
        "type": "Microsoft.Authorization/policyAssignments",
        "name": "7773"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourceGroups/9865/providers/Microsoft.Authorization/policyAssignments?api-version=2019-09-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11913"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "A0",
              "tier": "Free"
            },
            "properties": {
              "policyDefinitionId": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/providers/Microsoft.Authorization/policyDefinitions/policy2",
              "scope": "/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d",
              "metadata": {
                "createdBy": "30aa469e-e248-40b6-bc03-e320b05037b9",
                "createdOn": "2020-05-[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/resourcegroups/9865?api-version=2019-10-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi05ODY1LVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2019-10-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14990"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi05ODY1LVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi05ODY1LVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2019-10-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11911"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/b9f138a1-1d64-4108-8413-9ea3be1c1b2d/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi05ODY1LVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "11887"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "RandomSeed": "1966864896",
    "SUBSCRIPTION_ID": "b9f138a1-1d64-4108-8413-9ea3be1c1b2d"
  }
}