{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/crptestar65551?api-version=2017-05-10",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "southeastasia",
        "tags": {
          "crptestar65551": "2020-06-10 13:32:11Z"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1189"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar65551",
        "name": "crptestar65551",
        "location": "southeastasia",
        "tags": {
          "crptestar65551": "2020-06-10 13:32:11Z"
        },
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar65551/providers/Microsoft.Storage/storageAccounts/crptestar2417?api-version=2019-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_GRS"
        },
        "kind": "Storage",
        "location": "southeastasia",
        "properties": {}
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/southeastasia/asyncoperations/301feb00-7a0b-45bd-a1b6-3b8469392f3d?monitor=true\u0026api-version=2019-06-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-writes": "1188"
      },
      "ResponseBody": []
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/southeastasia/asyncoperations/301feb00-7a0b-45bd-a1b6-3b8469392f3d?monitor=true\u0026api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "text/plain; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/southeastasia/asyncoperations/301feb00-7a0b-45bd-a1b6-3b8469392f3d?monitor=true\u0026api-version=2019-06-01",
        "Retry-After": "17",
        "x-ms-ratelimit-remaining-subscription-reads": "10298"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Storage/locations/southeastasia/asyncoperations/301feb00-7a0b-45bd-a1b6-3b8469392f3d?monitor=true\u0026api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "10283"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_GRS",
          "tier": "Standard"
        },
        "kind": "Storage",
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar65551/providers/Microsoft.Storage/storageAccounts/crptestar2417",
        "name": "crptestar2417",
        "type": "Microsoft.Storage/storageAccounts",
        "location": "southeastasia",
        "tags": {},
        "properties": {
          "privateEndpointConnections": [],
          "networkAcls": {
            "bypass": "AzureServices",
            "virtualNetworkRules": [],
            "ipRules": [],
            "defaultAction": "Allow"
          },
          "supportsHttpsTrafficOnly": true,
          "encryption": {
            "services": {
              "file": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2020-06-10T13:32:13.4162292Z"
              },
              "blob": {
                "keyType": "Account",
                "enabled": true,
                "lastEnabledTime": "2020-06-10T13:32:13.4162292Z"
              }
            },
            "keySource": "Microsoft.Storage"
          },
          "provisioningState": "Succeeded",
          "creationTime": "2020-06-10T13:32:13.3537269Z",
          "primaryEndpoints": {
            "blob": "https://crptestar2417.blob.core.windows.net/",
            "queue": "https://crptestar2417.queue.core.windows.net/",
            "table": "https://crptestar2417.table.core.windows.net/",
            "file": "https://crptestar2417.file.core.windows.net/"
          },
          "primaryLocation": "southeastasia",
          "statusOfPrimary": "available",
          "secondaryLocation": "eastasia",
          "statusOfSecondary": "available"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar65551/providers/Microsoft.Storage/storageAccounts?api-version=2019-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "x-ms-ratelimit-remaining-subscription-reads": "10282"
      },
      "ResponseBody": {
        "value": [
          {
            "sku": {
              "name": "Standard_GRS",
              "tier": "Standard"
            },
            "kind": "Storage",
            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar65551/providers/Microsoft.Storage/storageAccounts/crptestar2417",
            "name": "crptestar2417",
            "type": "Microsoft.Storage/storageAccounts",
            "location": "southeastasia",
            "tags": {},
            "properties": {[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar65551/providers/Microsoft.Network/virtualNetworks/vn2821?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "southeastasia",
        "properties": {
          "addressSpace": {
            "addressPrefixes": [
              "10.0.0.0/16"
            ]
          },
          "dhcpOptions": {
            "dnsServers": [
              "10.1.1.1",
              "10.1.2.4"
            ]
          },
          "subnets": [
            {
              "name": "sn15400",
              "properties": {
                "addressPrefix": "10.0.1.0/24"
              }
            },
            {
              "name": "sn24949",
              "properties": {
                "addressPrefix": "10.0.2.0/24"
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/southeastasia/operations/75a2a3b2-9b7b-4d85-8682-06602ff56c4d?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "3",
        "x-ms-ratelimit-remaining-subscription-writes": "1187"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022vn2821\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subs[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/southeastasia/operations/75a2a3b2-9b7b-4d85-8682-06602ff56c4d?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "10280"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022status\u0022: \u0022InProgress\u0022\r\n",
        "}"
      ]
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar65551/providers/Microsoft.Network/virtualNetworks/vn2821?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022162eaaad-b070-46a8-8604-7a950e457bef\u0022",
        "x-ms-ratelimit-remaining-subscription-reads": "10278"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022vn2821\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar65551/providers/Microsoft.Network/virtualNetworks/vn2821\u0022,\r\n",
        "  \u0022etag\u0022: \u0022W/\\\u0022162eaaad-b070-46a8-8604-7a950e457bef\\\u0022\u0022,\r[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar65551/providers/Microsoft.Network/publicIPAddresses/pip284?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "southeastasia",
        "tags": {
          "key": "value"
        },
        "properties": {
          "publicIPAllocationMethod": "Dynamic",
          "dnsSettings": {
            "domainNameLabel": "dn2263"
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/southeastasia/operations/44fb26b0-1d0f-43a7-a32e-65c370d18c48?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "1",
        "x-ms-ratelimit-remaining-su[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar65551/providers/Microsoft.Network/networkInterfaces/nic6942?api-version=2020-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "southeastasia",
        "tags": {
          "key": "value"
        },
        "properties": {
          "ipConfigurations": [
            {
              "name": "ip8320",
              "properties": {
                "privateIPAllocationMethod": "Dynamic",
                "subnet": {
                  "name": "sn24949",
                  "etag": "W/\u0022162eaaad-b070-46a8-8604-7a950e457bef\u0022",
                  "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar65551/providers/Microsoft.Network/virtualNetworks/vn2821/subnets/sn24949",
                  "properties": {
                    "addressPrefix": "10.0.2.0/24",
                    "delegations": [],
                    "provisioningState": "Succeeded",
                    "privateEndpointNetworkPolicies": "Enabled",
                    "privateLinkServiceNetworkPolicies": "Enabled"
                  }
                }
              }
            }
          ]
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/southeastasia/operations/1439090e-1d84-47bf-8cc0-a856751f7aa9?api-version=2020-04-01",
        "Content-Type": "application/json; charset=utf[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar65551/providers/Microsoft.Compute/virtualMachineScaleSets/vmss5415?api-version=2019-12-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_A0",
          "capacity": 2
        },
        "location": "southeastasia",
        "tags": {
          "RG": "rg",
          "testTag": "1"
        },
        "properties": {
          "upgradePolicy": {
            "mode": "Automatic"
          },
          "virtualMachineProfile": {
            "osProfile": {
              "computerNamePrefix": "test",
              "adminUsername": "Foo12",
              "adminPassword": "[PLACEHOLDEr1]",
              "customData": "Q3VzdG9tIGRhdGE="
            },
            "storageProfile": {
              "imageReference": {
                "publisher": "MicrosoftWindowsServer",
                "offer": "WindowsServer",
                "sku": "2012-R2-Datacenter",
                "version": "4.127.20180315"
              },
              "osDisk": {
                "name": "test",
                "caching": "None",
                "createOption": "FromImage",
                "vhdContainers": [
                  "https://crptestar2417.blob.core.windows.net/crptestar7920"
                ]
              }
            },
            "networkProfile": {
              "networkInterfaceConfigurations": [
                {
                  "name": "vmsstestnetconfig9860",
                  "properties": {
                    "primary": true,
                    "ipConfigurations": [
                      {
                        "name": "vmsstestnetconfig4053",
                        "properties": {
                          "subnet": {
                            "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar65551/providers/Microsoft.Network/virtualNetworks/vn2821/subnets/sn24949"
                          },
                          "privateIPAddressVersion": "IPv4",
                          "applicationGatewayBackendAddressPools": []
                        }
                      },
                      {
                        "name": "ipv6",
                        "properties": {
                          "privateIPAddressVersion": "IPv6"
                        }
                      }
                    ]
                  }
                }
              ]
            }
          },
          "overprovision": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/southeastasia/operations/12a14bb3-34f6-40d4-88e4-7c465a761350?api-version=2019-12-01",
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/CreateVMScaleSet3Min;59,Microsoft.Compute/CreateVMScaleSet30Min;296,Microsoft.Compute/VMScaleSetBatchedVMRequests5Min;1194,Microsoft.Compute/VmssQueuedVMOperations;4798",
        "x-ms-ratelimit-remaining-subscription-writes": "1183",
        "x-ms-request-charge": "2"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022name\u0022: \u0022vmss5415\u0022,\r\n",
        "  \u0022id\u0022: \u0022/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/crptestar65551/providers/Microsoft.Compute/virtualMachineScaleSets/vmss5415\u0022,\r\n",
        "  \u0022type\u0022: \u0022Microsoft.Compute/virtualMachineScaleSets\u0022,\r\n",
        "  \u0022location\u0022: \u0022southeastasia\u0022,\r\n",
        "  \u0022tags\u0022: {\r\n",
      [...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/southeastasia/operations/12a14bb3-34f6-40d4-88e4-7c465a761350?api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "97",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14740,Microsoft.Compute/GetOperation30Min;26811",
        "x-ms-ratelimit-remaining-subscription-reads": "10269"
      },
      "ResponseBody": [
        "{\r\n",
        "  \u0022startTime\u0022: \u00222020-06-10T13:32:38.7635153\u002B00:00\u0022,\r\n",
        "  \u0022status\u0022: \u0022InProgress\u0022,\r\n",
        "  \u0022name\u0022: \u002212a14bb3-34f6-40d4-88e4-7c465a761350\u0022\r\n",
        "}"
      ]
    },
[...]
