{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet9288?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1186"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet9288",
        "name": "azsmnet9288",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet9288/providers/Microsoft.Resources/deployments/azsmnet7532?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": {
            "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
              "resourceGroupName": {
                "type": "String"
              },
              "location": {
                "type": "String"
              },
              "virtualMachineName": {
                "type": "String"
              },
              "virtualMachineSize": {
                "type": "String"
              },
              "adminUsername": {
                "type": "String"
              },
              "storageAccountName": {
                "type": "String"
              },
              "virtualNetworkName": {
                "type": "String"
              },
              "routeTableName": {
                "type": "String"
              },
              "networkInterfaceName": {
                "type": "String"
              },
              "networkSecurityGroupName": {
                "type": "String"
              },
              "adminPassword": {
                "type": "SecureString"
              },
              "storageAccountType": {
                "type": "String"
              },
              "diagnosticsStorageAccountName": {
                "type": "String"
              },
              "diagnosticsStorageAccountId": {
                "type": "String"
              },
              "diagnosticsStorageAccountType": {
                "type": "String"
              },
              "addressPrefix": {
                "type": "String"
              },
              "subnetName": {
                "type": "String"
              },
              "subnetPrefix": {
                "type": "String"
              },
              "publicIpAddressName": {
                "type": "String"
              },
              "publicIpAddressType": {
                "type": "String"
              }
            },
            "variables": {
              "vnetId": "[resourceId(parameters(\u0027resourceGroupName\u0027),\u0027Microsoft.Network/virtualNetworks\u0027, parameters(\u0027virtualNetworkName\u0027))]",
              "subnetRef": "[concat(variables(\u0027vnetId\u0027), \u0027/subnets/\u0027, parameters(\u0027subnetName\u0027))]"
            },
            "resources": [
              {
                "type": "Microsoft.Compute/virtualMachines",
                "name": "[parameters(\u0027virtualMachineName\u0027)]",
                "apiVersion": "2015-06-15",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "osProfile": {
                    "computerName": "[parameters(\u0027virtualMachineName\u0027)]",
                    "adminUsername": "[parameters(\u0027adminUsername\u0027)]",
                    "adminPassword": "[parameters(\u0027adminPassword\u0027)]",
                    "windowsConfiguration": {
                      "provisionVmAgent": "true"
                    }
                  },
                  "hardwareProfile": {
                    "vmSize": "[parameters(\u0027virtualMachineSize\u0027)]"
                  },
                  "storageProfile": {
                    "imageReference": {
                      "publisher": "MicrosoftWindowsServer",
                      "offer": "WindowsServer",
                      "sku": "2016-Datacenter",
                      "version": "latest"
                    },
                    "osDisk": {
                      "name": "[parameters(\u0027virtualMachineName\u0027)]",
                      "createOption": "fromImage",
                      "vhd": {
                        "uri": "[concat(concat(reference(resourceId(parameters(\u0027resourceGroupName\u0027), \u0027Microsoft.Storage/storageAccounts\u0027, parameters(\u0027storageAccountName\u0027)), \u00272015-06-15\u0027).primaryEndpoints[\u0027blob\u0027], \u0027vhds/\u0027), parameters(\u0027virtualMachineName\u0027), \u002720161217141554.vhd\u0027)]"
                      }
                    },
                    "dataDisks": []
                  },
                  "networkProfile": {
                    "networkInterfaces": [
                      {
                        "id": "[resourceId(\u0027Microsoft.Network/networkInterfaces\u0027, parameters(\u0027networkInterfaceName\u0027))]"
                      }
                    ]
                  },
                  "diagnosticsProfile": {
                    "bootDiagnostics": {
                      "enabled": true,
                      "storageUri": "[reference(resourceId(parameters(\u0027resourceGroupName\u0027), \u0027Microsoft.Storage/storageAccounts\u0027, parameters(\u0027diagnosticsStorageAccountName\u0027)), \u00272015-06-15\u0027).primaryEndpoints[\u0027blob\u0027]]"
                    }
                  }
                },
                "dependsOn": [
                  "[concat(\u0027Microsoft.Network/networkInterfaces/\u0027, parameters(\u0027networkInterfaceName\u0027))]",
                  "[concat(\u0027Microsoft.Storage/storageAccounts/\u0027, parameters(\u0027storageAccountName\u0027))]",
                  "[concat(\u0027Microsoft.Storage/storageAccounts/\u0027, parameters(\u0027diagnosticsStorageAccountName\u0027))]"
                ]
              },
              {
                "type": "Microsoft.Storage/storageAccounts",
                "name": "[parameters(\u0027storageAccountName\u0027)]",
                "apiVersion": "2015-06-15",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "accountType": "[parameters(\u0027storageAccountType\u0027)]"
                }
              },
              {
                "type": "Microsoft.Storage/storageAccounts",
                "name": "[parameters(\u0027diagnosticsStorageAccountName\u0027)]",
                "apiVersion": "2015-06-15",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "accountType": "[parameters(\u0027diagnosticsStorageAccountType\u0027)]"
                }
              },
              {
                "type": "Microsoft.Network/routeTables",
                "name": "[parameters(\u0027routeTableName\u0027)]",
                "apiVersion": "2016-09-01",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "routes": [
                    {
                      "name": "route1",
                      "properties": {
                        "addressPrefix": "10.1.3.0/24",
                        "nextHopType": "VirtualAppliance",
                        "nextHopIpAddress": "10.0.1.2"
                      }
                    }
                  ]
                }
              },
              {
                "type": "Microsoft.Network/virtualNetworks",
                "name": "[parameters(\u0027virtualNetworkName\u0027)]",
                "apiVersion": "2016-09-01",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "addressSpace": {
                    "addressPrefixes": [
                      "[parameters(\u0027addressPrefix\u0027)]"
                    ]
                  },
                  "subnets": [
                    {
                      "name": "[parameters(\u0027subnetName\u0027)]",
                      "properties": {
                        "addressPrefix": "[parameters(\u0027subnetPrefix\u0027)]",
                        "routeTable": {
                          "id": "[resourceId(\u0027Microsoft.Network/routeTables\u0027, parameters(\u0027routeTableName\u0027))]"
                        }
                      }
                    }
                  ]
                },
                "dependsOn": [
                  "[concat(\u0027Microsoft.Network/routeTables/\u0027, parameters(\u0027routeTableName\u0027))]"
                ]
              },
              {
                "type": "Microsoft.Network/networkInterfaces",
                "name": "[parameters(\u0027networkInterfaceName\u0027)]",
                "apiVersion": "2016-09-01",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "ipConfigurations": [
                    {
                      "name": "ipconfig1",
                      "properties": {
                        "subnet": {
                          "id": "[variables(\u0027subnetRef\u0027)]"
                        },
                        "privateIPAllocationMethod": "Dynamic",
                        "publicIpAddress": {
                          "id": "[resourceId(parameters(\u0027resourceGroupName\u0027),\u0027Microsoft.Network/publicIpAddresses\u0027, parameters(\u0027publicIpAddressName\u0027))]"
                        }
                      }
                    }
                  ],
                  "networkSecurityGroup": {
                    "id": "[resourceId(parameters(\u0027resourceGroupName\u0027), \u0027Microsoft.Network/networkSecurityGroups\u0027, parameters(\u0027networkSecurityGroupName\u0027))]"
                  }
                },
                "dependsOn": [
                  "[concat(\u0027Microsoft.Network/virtualNetworks/\u0027, parameters(\u0027virtualNetworkName\u0027))]",
                  "[concat(\u0027Microsoft.Network/publicIpAddresses/\u0027, parameters(\u0027publicIpAddressName\u0027))]",
                  "[concat(\u0027Microsoft.Network/networkSecurityGroups/\u0027, parameters(\u0027networkSecurityGroupName\u0027))]"
                ]
              },
              {
                "type": "Microsoft.Network/publicIpAddresses",
                "name": "[parameters(\u0027publicIpAddressName\u0027)]",
                "apiVersion": "2016-09-01",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "publicIpAllocationMethod": "[parameters(\u0027publicIpAddressType\u0027)]"
                }
              },
              {
                "type": "Microsoft.Network/networkSecurityGroups",
                "name": "[parameters(\u0027networkSecurityGroupName\u0027)]",
                "apiVersion": "2016-09-01",
                "location": "[parameters(\u0027location\u0027)]",
                "properties": {
                  "securityRules": [
                    {
                      "name": "default-allow-rdp",
                      "properties": {
                        "priority": 1000,
                        "sourceAddressPrefix": "*",
                        "protocol": "TCP",
                        "destinationPortRange": "3389",
                        "access": "Allow",
                        "direction": "Inbound",
                        "sourcePortRange": "*",
                        "destinationAddressPrefix": "*"
                      }
                    }
                  ]
                }
              }
            ],
            "outputs": {
              "adminUsername": {
                "type": "String",
                "value": "[parameters(\u0027adminUsername\u0027)]"
              }
            }
          },
          "parameters": {
            "resourceGroupName": {
              "value": "azsmnet9288"
            },
            "location": {
              "value": "westus2"
            },
            "virtualMachineName": {
              "value": "azsmnet4366"
            },
            "virtualMachineSize": {
              "value": "Standard_DS1_v2"
            },
            "adminUsername": {
              "v[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet9288/providers/Microsoft.Resources/deployments/azsmnet7532/operationStatuses/08586108378448249126?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11445"
      },
      "ResponseBody": {
        "status": "Running"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourcegroups/azsmnet9288/providers/Microsoft.Resources/deployments/azsmnet7532?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11348"
      },
      "ResponseBody": {
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet9288/providers/Microsoft.Resources/deployments/azsmnet7532",
        "name": "azsmnet7532",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "8977858299135338221",
          "parameters": {
            "resourceGroupName": {
              "type": "String",
              "value": "azsmnet9288"
            },
            "location": {
              "type": "String",
              "value": "westus2"
            },
            "virtualMachineName": {
              "type": "String",
              "value": "azsmnet4366"
            },
            "virtualMachineSize": {
              "type": "String",
              "value": "Standard_DS1_[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet9288/providers/Microsoft.Compute/virtualMachines/azsmnet4366?$expand=instanceView\u0026api-version=2019-12-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/LowCostGet3Min;3995,Microsoft.Compute/LowCostGet30Min;31975",
        "x-ms-ratelimit-remaining-subscription-reads": "11347"
      },
      "ResponseBody": {
        "name": "azsmnet4366",
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet9288/providers/Microsoft.Compute/virtualMachines/azsmnet4366",
        "type": "Microsoft.Compute/virtualMachines",
        "location": "westus2",
        "properties": {
          "vmId": "8b110789-db19-4411-a513-f87de909da62",
          "hardwareProfile": {
            "vmSize": "Standard_DS1_v2"
          },
          "storageProfile": {
            "imageReference": {
              "publisher": "MicrosoftWindowsServer",
              "offer": "WindowsServer",
              "sku": "2016-Datacenter",
              "version": "latest",
              "exactVersion": "14393.3686.2005061700"
            },
            "osDisk": {
              "osType": "Windows",
              "name": "azsmnet4366",
              "createOption": "FromImage",
              "vhd": {
                "uri": "https://azsmnet6733.blob.core.windows.net/vhds/azsmnet436620161217141554.vhd"
              },
              "caching": "ReadWrite",
              "diskSizeGB": 127
            },
            "dataDisks": []
          },
          "osProfile": {
            "computerName": "azsmnet4366",
            "adminUsername": "netanalytics32",
            "windowsConfiguration": {
              "provisionVMAgent": true,
              "enableAutomaticUpdates": true
            },
            "secrets": []
          },
          "networkProfile": {
            "networkInterfaces": [
              {
                "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet9288/providers/Microsoft.Network/networkInterfaces/azsmnet1017"
              }
            ]
          },
          "diagnosticsProfile": {
            "bootDiagnostics": {
              "enabled": true,
              "storageUri": "https://azsmnet7850.blob.core.windows.net/"
            }
          },
          "provisioningState": "Succeeded",
          "instanceView": {
            "vmAgent": {
              "vmAgentVersion": "Unknown",
              "statuses": [
                {
                  "code": "ProvisioningState/Unavailable",
                  "level": "Warning",
                  "displayStatus": "Not Ready",
                  "message": "VM status blob is found but not yet populated.",
                  "time": "2020-05-29T16:19:42\u002B00:00"
                }
              ]
            },
            "disks": [
              {
                "name": "azsmnet4366",
                "statuses": [
                  {
                    "code": "ProvisioningState/succeeded",
                    "level": "Info",
                    "displayStatus": "Provisioning succeeded",
                    "time": "2020-05-29T16:18:01.1847066\u002B00:00"
                  }
                ]
              }
            ],
            "bootDiagnostics": {
              "consoleScreenshotBlobUri": "https://azsmnet7850.blob.core.windows.net/bootdiagnostics-azsmnet43-8b110789-db19-4411-a513-f87de909da62/azsmnet4366.8b110789-db19-4411-a513-f87de909da62.screenshot.bmp",
              "serialConsoleLogBlobUri": "https://azsmnet7850.blob.core.windows.net/bootdiagnostics-azsmnet43-8b110789-db19-4411-a513-f87de909da62/azsmnet4366.8b110789-db19-4411-a513-f87de909da62.serialconsole.log"
            },
            "hyperVGeneration": "V1",
            "statuses": [
              {
                "code": "ProvisioningState/succeeded",
                "level": "Info",
                "displayStatus": "Provisioning succeeded",
                "time": "2020-05-29T16:19:38.6847859\u002B00:00"
              },
              {
                "code": "PowerState/running",
                "level": "Info",
                "displayStatus": "VM running"
              }
            ]
          }
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet9288/providers/Microsoft.Compute/virtualMachines/azsmnet4366/extensions/NetworkWatcherAgent?api-version=2018-10-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus2",
        "properties": {
          "publisher": "Microsoft.Azure.NetworkWatcher",
          "type": "NetworkWatcherAgentWindows",
          "typeHandlerVersion": "1.4"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncNotification": "Enabled",
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/westus2/operations/19c6dd0b-3a90-49f1-8240-b246649d60db?api-version=2018-10-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/UpdateVM3Min;239,Microsoft.Compute/UpdateVM30Min;1198",
        "x-ms-ratelimit-remaining-subscription-writes": "1184"
      },
      "ResponseBody": {
        "name": "NetworkWatcherAgent",
        "id": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet9288/providers/Microsoft.Compute/virtualMachines/azsmnet4366/extensions/NetworkWatcherAgent",
        "type": "Microsoft.Compute/virtualMachines/extensions",
        "location": "westus2",
        "properties": {
          "autoUpgradeMinorVersion": false,
          "provisioningState": "Creating",
          "publisher": "Microsoft.Azure.NetworkWatcher",
          "type": "NetworkWatcherAgentWindows",
          "typeHandlerVersion": "1.4"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/westus2/operations/19c6dd0b-3a90-49f1-8240-b246649d60db?api-version=2018-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14997,Microsoft.Compute/GetOperation30Min;29882",
        "x-ms-ratelimit-remaining-subscription-reads": "11346"
      },
      "ResponseBody": {
        "startTime": "2020-05-29T16:19:47.0910678\u002B00:00",
        "status": "InProgress",
        "name": "19c6dd0b-3a90-49f1-8240-b246649d60db"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Compute/locations/westus2/operations/19c6dd0b-3a90-49f1-8240-b246649d60db?api-version=2018-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-resource": "Microsoft.Compute/GetOperation3Min;14892,Microsoft.Compute/GetOperation30Min;29777",
        "x-ms-ratelimit-remaining-subscription-reads": "11242"
      },
      "ResponseBody": {
        "startTime": "2020-05-29T16:19:47.0910678\u002B00:00",
        "endTime": "2020-05-29T16:21:59.2942853\u002B00:00",
        "status": "Succeeded",
        "name": "19c6dd0b-3a90-49f1-8240-b246649d60db"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/NetworkWatcherRG/providers/Microsoft.Network/networkWatchers/NetworkWatcher_westus2/connectivityCheck?api-version=2020-04-01",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "source": {
          "resourceId": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet9288/providers/Microsoft.Compute/virtualMachines/azsmnet4366"
        },
        "destination": {
          "address": "bing.com",
          "port": 80
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/1b026960-fefd-4bea-b5c6-e67ccd39e6fe?api-version=2020-04-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11240"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/1b026960-fefd-4bea-b5c6-e67ccd39e6fe?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/1b026960-fefd-4bea-b5c6-e67ccd39e6fe?api-version=2020-04-01",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11239"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/1b026960-fefd-4bea-b5c6-e67ccd39e6fe?api-version=2020-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/providers/Microsoft.Network/locations/westus2/operationResults/1b026960-fefd-4bea-b5c6-e67ccd39e6fe?api-version=2020-04-01",
        "x-ms-ratelimit-remaining-subscription-reads": "11215"
      },
      "ResponseBody": {
        "hops": [
          {
            "type": "Source",
            "id": "720f82c5-b7ca-49a8-8d22-d2677f4a8ada",
            "address": "10.17.3.4",
            "resourceId": "/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/resourceGroups/azsmnet9288/providers/Microsoft.Compute/virtualMachines/azsmnet4366",
            "nextHopIds": [
              "5ee14fd8-7fbe-428a-82f9-c7f569517a00"
            ],
            "links": [
              {
                "nextHopId": "5ee14fd8-7fbe-428a-82f9-c7f569517a00",
                "linkType": "Internet",
                "properties": {
                  "roundTripTimeMin": 1,
                  "roundTripTimeAvg": 1,
                  "roundTripTimeMax": 1
                },
                "context": {},
                "issues": [],
                "resourceId": ""
              }
            ],
            "previousHopIds": [],
            "previousLinks": [],
            "issues": []
          },
          {
            "type": "Internet",
            "id": "5ee14fd8-7fbe-428a-82f9-c7f569517a00",
            "address": "13.107.21.200",
            "nextHopIds": [],
            "links": [],
            "previousHopIds": [
              "720f82c5-b7ca-49a8-8d22-d2677f4a8ada"
            ],
            "previousLinks": [
              {
                "nextHopId": "720f82c5-b7ca-49a8-8d22-d2677f4a8ada",
                "linkType": "Internet",
                "properties": {},
                "context": {},
                "issues": [],
                "resourceId": ""
              }
            ],
            "issues": []
          }
        ],
        "connectionStatus": "Reachable",
        "avgLatencyInMs": 1,
        "minLatencyInMs": 1,
        "maxLatencyInMs": 2,
        "probesSent": 66,
        "probesFailed": 0
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BWlNNTkVUOTI4OC1XRVNUVVMyIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMyIn0?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BWlNNTkVUOTI4OC1XRVNUVVMyIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMyIn0?api-version=2019-10-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11214"
      },
      "ResponseBody": []
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/c9cbd920-c00c-427c-852b-8aaf38badaeb/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BWlNNTkVUOTI4OC1XRVNUVVMyIiwiam9iTG9jYXRpb24iOiJ3ZXN0dXMyIn0?api-version=2019-10-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "10955"
      },
      "ResponseBody": []
    }
  ],
  "Variables": {
    "ApplicationId": "d7f2665a-e852-44f9-b427-c18bd7979814",
    "RandomSeed": "1905173896",
    "SUBSCRIPTION_ID": "c9cbd920-c00c-427c-852b-8aaf38badaeb",
    "TENANT_ID": "72f988bf-86f1-41af-91ab-2d7cd011db47"
  }
}